openapi: 3.0.1
info:
  description: "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API supports OAuth2 Service Accounts and HTTP Digest-based API keys. Service accounts are the recommended authentication method and API keys are considered a legacy option.\n\nTo authenticate with a Service Account, first exchange its client ID and secret for an access token using the OAuth 2.0 Client Credentials flow. Atlas provides a token endpoint at `POST https://cloud.mongodb.com/api/oauth/token`, which returns a Bearer token that is reusable and valid for 1 hour (3600 seconds).\n\nFor example, to [return a list of your organizations](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listorgs) with [cURL](https://en.wikipedia.org/wiki/CURL), first generate an access token and then use that token to call the same Atlas Administration API endpoint shown in the current example:\n\n```\nACCESS_TOKEN=$(curl -fsS --request POST https://cloud.mongodb.com/api/oauth/token \\\n  --header \"Authorization: Basic $(printf '%s' \"${CLIENT_ID}:${CLIENT_SECRET}\" | base64 | tr -d '\\n')\" \\\n  --header \"Content-Type: application/x-www-form-urlencoded\" \\\n  --header \"Accept: application/json\" \\\n  --data \"grant_type=client_credentials\" | jq -r '.access_token')\n\ncurl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs?pretty=true\"\n```\n\nIf your organization requires an IP access list for the Atlas Administration API, the token can be created from any IP address, but the API call that uses the token must originate from an allowed IP.\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).\n\nYou can also explore the various endpoints available through the Atlas Administration API in MongoDB's [Postman workspace](https://www.postman.com/mongodb-devrel/workspace/mongodb-atlas-administration-apis/) (requires a Postman account)."
  license:
    name: CC BY-NC-SA 3.0 US
    url: https://creativecommons.org/licenses/by-nc-sa/3.0/us/
  termsOfService: https://www.mongodb.com/mongodb-management-service-terms-and-conditions
  title: MongoDB Atlas Administration Access Tracking Data Federation API
  version: '2.0'
  x-xgen-sha: 3d70e065843c008b9871ea7836c98c9de6f202f9
servers:
- url: https://cloud.mongodb.com
security:
- ServiceAccounts: []
- DigestAuth: []
tags:
- description: Returns, adds, edits, and removes Federated Database Instances. This resource requires your project ID. Changes to federated database instance configurations can affect costs.
  name: Data Federation
paths:
  /api/atlas/v2/groups/{groupId}/dataFederation:
    get:
      description: Returns the details of all federated database instances in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only or higher role.
      operationId: listGroupDataFederation
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Type of Federated Database Instances to return.
        in: query
        name: type
        schema:
          default: USER
          enum:
          - USER
          - ONLINE_ARCHIVE
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                items:
                  $ref: '#/components/schemas/DataLakeTenant'
                type: array
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return All Federated Database Instances in One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation listDataFederation --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListGroupDataFederationApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tListGroupDataFederationWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/listGroupDataFederation
      x-xgen-operation-id-override: listDataFederation
    post:
      description: Creates one federated database instance in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Owner or Project Charts Admin roles.
      operationId: createGroupDataFederation
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Flag that indicates whether this request should check if the requesting IAM role can read from the S3 bucket. AWS checks if the role can list the objects in the bucket before writing to it. Some IAM roles only need write permissions. This flag allows you to skip that check.
        in: query
        name: skipRoleValidation
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/DataLakeTenant'
        description: Details to create one federated database instance in the specified project.
        required: true
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/DataLakeTenant'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Create One Federated Database Instance in One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation createDataFederation --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.CreateGroupDataFederationApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tCreateGroupDataFederationWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/createGroupDataFederation
      x-xgen-operation-id-override: createDataFederation
  /api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}:
    delete:
      description: Removes one federated database instance from the specified project. To use this resource, the requesting Service Account or API Key must have the Project Owner or Project Charts Admin roles.
      operationId: deleteGroupDataFederation
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Human-readable label that identifies the federated database instance to remove.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: '2023-01-01'
          description: This endpoint does not return a response body.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Remove One Federated Database Instance from One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation deleteDataFederation --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.DeleteGroupDataFederationApiParams{}\n\thttpResp, err := client.DataFederationApi.\n\t\tDeleteGroupDataFederationWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}\""
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/deleteGroupDataFederation
      x-xgen-operation-id-override: deleteDataFederation
    get:
      description: Returns the details of one federated database instance within the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only or Project Charts Admin roles.
      operationId: getGroupDataFederation
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the Federated Database to return.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/DataLakeTenant'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Federated Database Instance in One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation getDataFederation --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupDataFederationApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tGetGroupDataFederationWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/getGroupDataFederation
      x-xgen-operation-id-override: getDataFederation
    patch:
      description: Updates the details of one federated database instance in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Owner or higher role.
      operationId: updateGroupDataFederation
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the federated database instance to update.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      - description: Flag that indicates whether this request should check if the requesting IAM role can read from the S3 bucket. AWS checks if the role can list the objects in the bucket before writing to it. Some IAM roles only need write permissions. This flag allows you to skip that check.
        in: query
        name: skipRoleValidation
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/DataLakeTenant'
        description: Details of one Federated Database to update in the specified project.
        required: true
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/DataLakeTenant'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Update One Federated Database Instance in One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation updateDataFederation --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.UpdateGroupDataFederationApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tUpdateGroupDataFederationWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/updateGroupDataFederation
      x-xgen-operation-id-override: updateDataFederation
  /api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits:
    get:
      description: Returns query limits for a federated databases instance in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.
      operationId: listGroupDataFederationLimits
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the federated database instance for which you want to retrieve query limits.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                items:
                  $ref: '#/components/schemas/DataFederationTenantQueryLimit'
                type: array
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return All Query Limits for One Federated Database Instance
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation listDataFederationLimits --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListGroupDataFederationLimitsApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tListGroupDataFederationLimitsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/listGroupDataFederationLimits
      x-xgen-operation-id-override: listDataFederationLimits
  /api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits/{limitName}:
    delete:
      description: Deletes one query limit for one federated database instance. To use this resource, the requesting Service Account or API Key must have the Project Owner role.
      operationId: deleteGroupDataFederationLimit
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the federated database instance to which the query limit applies.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      - description: 'Human-readable label that identifies this data federation instance limit.


          | Limit Name | Description | Default |

          | --- | --- | --- |

          | `bytesProcessed.query` | Limit on the number of bytes processed during a single data federation query | N/A |

          | `bytesProcessed.daily` | Limit on the number of bytes processed for the data federation instance for the current day | N/A |

          | `bytesProcessed.weekly` | Limit on the number of bytes processed for the data federation instance for the current week | N/A |

          | `bytesProcessed.monthly` | Limit on the number of bytes processed for the data federation instance for the current month | N/A |

          '
        in: path
        name: limitName
        required: true
        schema:
          enum:
          - bytesProcessed.query
          - bytesProcessed.daily
          - bytesProcessed.weekly
          - bytesProcessed.monthly
          type: string
      responses:
        '204':
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: '2023-01-01'
          description: This endpoint does not return a response body.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Delete One Query Limit for One Federated Database Instance
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation deleteDataFederationLimit --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.DeleteGroupDataFederationLimitApiParams{}\n\thttpResp, err := client.DataFederationApi.\n\t\tDeleteGroupDataFederationLimitWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits/{limitName}\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits/{limitName}\""
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/deleteGroupDataFederationLimit
      x-xgen-operation-id-override: deleteDataFederationLimit
    get:
      description: Returns the details of one query limit for the specified federated database instance in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.
      operationId: getGroupDataFederationLimit
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the federated database instance to which the query limit applies.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      - description: 'Human-readable label that identifies this data federation instance limit.


          | Limit Name | Description | Default |

          | --- | --- | --- |

          | `bytesProcessed.query` | Limit on the number of bytes processed during a single data federation query | N/A |

          | `bytesProcessed.daily` | Limit on the number of bytes processed for the data federation instance for the current day | N/A |

          | `bytesProcessed.weekly` | Limit on the number of bytes processed for the data federation instance for the current week | N/A |

          | `bytesProcessed.monthly` | Limit on the number of bytes processed for the data federation instance for the current month | N/A |

          '
        in: path
        name: limitName
        required: true
        schema:
          enum:
          - bytesProcessed.query
          - bytesProcessed.daily
          - bytesProcessed.weekly
          - bytesProcessed.monthly
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/DataFederationTenantQueryLimit'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Federated Database Instance Query Limit for One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation getDataFederationLimit --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupDataFederationLimitApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tGetGroupDataFederationLimitWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits/{limitName}?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits/{limitName}?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/getGroupDataFederationLimit
      x-xgen-operation-id-override: getDataFederationLimit
    patch:
      description: Creates or updates one query limit for one federated database instance. To use this resource, the requesting Service Account or API Key must have the Project Owner role.
      operationId: setGroupDataFederationLimit
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the federated database instance to which the query limit applies.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      - description: 'Human-readable label that identifies this data federation instance limit.


          | Limit Name | Description | Default |

          | --- | --- | --- |

          | `bytesProcessed.query` | Limit on the number of bytes processed during a single data federation query | N/A |

          | `bytesProcessed.daily` | Limit on the number of bytes processed for the data federation instance for the current day | N/A |

          | `bytesProcessed.weekly` | Limit on the number of bytes processed for the data federation instance for the current week | N/A |

          | `bytesProcessed.monthly` | Limit on the number of bytes processed for the data federation instance for the current month | N/A |

          '
        in: path
        name: limitName
        required: true
        schema:
          enum:
          - bytesProcessed.query
          - bytesProcessed.daily
          - bytesProcessed.weekly
          - bytesProcessed.monthly
          type: string
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/DataFederationTenantQueryLimit'
        description: Creates or updates one query limit for one federated database instance.
        required: true
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/DataFederationTenantQueryLimit'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Configure One Query Limit for One Federated Database Instance
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation setDataFederationLimit --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.SetGroupDataFederationLimitApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tSetGroupDataFederationLimitWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits/{limitName}\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/limits/{limitName}\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/setGroupDataFederationLimit
      x-xgen-method-verb-override:
        customMethod: true
        verb: set
      x-xgen-operation-id-override: setDataFederationLimit
  /api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/queryLogs.gz:
    get:
      description: 'Downloads the query logs for the specified federated database instance. To use this resource, the requesting Service Account or API Key must have the Project Owner or Project Data Access Read Write roles. The API does not support direct calls with the json response schema. You must request a gzip response schema using an accept header of the format: `Accept: application/vnd.atlas.YYYY-MM-DD+gzip`.'
      operationId: downloadGroupDataFederationQueryLogs
      parameters:
      - $ref: '#/components/parameters/groupId'
      - description: Timestamp that specifies the end point for the range of log messages to download.  MongoDB Cloud expresses this timestamp in the number of seconds that have elapsed since the UNIX epoch.
        in: query
        name: endDate
        schema:
          example: 1636481348
          format: int64
          pattern: '1199145600'
          type: integer
      - description: Timestamp that specifies the starting point for the range of log messages to download. MongoDB Cloud expresses this timestamp in the number of seconds that have elapsed since the UNIX epoch.
        in: query
        name: startDate
        schema:
          example: 1636466948
          format: int64
          pattern: '1199145600'
          type: integer
      - description: Human-readable label that identifies the federated database instance for which you want to download query logs.
        in: path
        name: tenantName
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+gzip:
              schema:
                description: Compressed archive labeled `queryLogs.gz` downloads
                format: binary
                type: string
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Download Query Logs for One Federated Database Instance
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation downloadFederationQueryLogs --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.DownloadGroupDataFederationQueryLogsApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tDownloadGroupDataFederationQueryLogsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+gzip\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/queryLogs.gz\" \\\n  --output \"file_name.gz\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+gzip\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dataFederation/{tenantName}/queryLogs.gz\" \\\n  --output \"file_name.gz\""
      x-rolesRequirements:
      - Project Data Access Admin
      - Project Data Access Read Only
      - Project Data Access Read Write
      - Project Stream Processing Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/downloadGroupDataFederationQueryLogs
      x-xgen-method-verb-override:
        customMethod: 'True'
        verb: download
      x-xgen-operation-id-override: downloadFederationQueryLogs
  /api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds:
    get:
      description: Returns all private endpoints for Federated Database Instances and Online Archives in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only or Project Charts Admin roles.
      operationId: listGroupPrivateNetworkSettingEndpointIds
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/includeCount'
      - $ref: '#/components/parameters/itemsPerPage'
      - $ref: '#/components/parameters/pageNum'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedPrivateNetworkEndpointIdEntryView'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return All Federated Database Instance and Online Archive Private Endpoints in One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation listPrivateEndpointIds --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListGroupPrivateNetworkSettingEndpointIdsApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tListGroupPrivateNetworkSettingEndpointIdsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/listGroupPrivateNetworkSettingEndpointIds
      x-xgen-operation-id-override: listPrivateEndpointIds
    post:
      description: Adds one private endpoint for Federated Database Instances and Online Archives to the specified projects. If the endpoint ID already exists and the associated comment is unchanged, Atlas Data Federation makes no change to the endpoint ID list. If the endpoint ID already exists and the associated comment is changed, Atlas Data Federation updates the comment value only in the endpoint ID list. If the endpoint ID doesn't exist, Atlas Data Federation appends the new endpoint to the list of endpoints in the endpoint ID list. Each region has an associated service name for the various endpoints. For the latest list of supported regions and their service names, see the external documentation. To use this resource, the requesting Service Account or API Key must have the Project Owner or Project Charts Admin roles.
      externalDocs:
        description: Atlas Data Federation Regions and Service Names
        url: https://www.mongodb.com/docs/atlas/data-federation/tutorial/config-private-endpoint/
      operationId: createGroupPrivateNetworkSettingEndpointId
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/PrivateNetworkEndpointIdEntry'
        description: Private endpoint for Federated Database Instances and Online Archives to add to the specified project.
        required: true
      responses:
        '201':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedPrivateNetworkEndpointIdEntryView'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Create One Federated Database Instance and Online Archive Private Endpoint for One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation createPrivateEndpointId --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.CreateGroupPrivateNetworkSettingEndpointIdApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tCreateGroupPrivateNetworkSettingEndpointIdWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/createGroupPrivateNetworkSettingEndpointId
      x-xgen-operation-id-override: createPrivateEndpointId
  /api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds/{endpointId}:
    delete:
      description: Removes one private endpoint for Federated Database Instances and Online Archives in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Owner role.
      operationId: deleteGroupPrivateNetworkSettingEndpointId
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 22-character alphanumeric string that identifies the private endpoint to remove. Atlas Data Federation supports AWS private endpoints using the AWS PrivateLink feature.
        in: path
        name: endpointId
        required: true
        schema:
          pattern: ^vpce-[0-9a-f]{17}$
          type: string
      responses:
        '204':
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: '2023-01-01'
          description: This endpoint does not return a response body.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Remove One Federated Database Instance and Online Archive Private Endpoint from One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation deletePrivateEndpointId --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.DeleteGroupPrivateNetworkSettingEndpointIdApiParams{}\n\thttpResp, err := client.DataFederationApi.\n\t\tDeleteGroupPrivateNetworkSettingEndpointIdWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds/{endpointId}\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds/{endpointId}\""
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/deleteGroupPrivateNetworkSettingEndpointId
      x-xgen-operation-id-override: deletePrivateEndpointId
    get:
      description: Returns the specified private endpoint for Federated Database Instances or Online Archives in the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only or Project Charts Admin roles.
      operationId: getGroupPrivateNetworkSettingEndpointId
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 22-character alphanumeric string that identifies the private endpoint to return. Atlas Data Federation supports AWS private endpoints using the AWS PrivateLink feature.
        in: path
        name: endpointId
        required: true
        schema:
          pattern: ^vpce-[0-9a-f]{17}$
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PrivateNetworkEndpointIdEntry'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Federated Database Instance and Online Archive Private Endpoint in One Project
      tags:
      - Data Federation
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api dataFederation getPrivateEndpointId --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupPrivateNetworkSettingEndpointIdApiParams{}\n\tsdkResp, httpResp, err := client.DataFederationApi.\n\t\tGetGroupPrivateNetworkSettingEndpointIdWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds/{endpointId}?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/privateNetworkSettings/endpointIds/{endpointId}?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Data-Federation/operation/getGroupPrivateNetworkSettingEndpointId
      x-xgen-operation-id-override: getPrivateEndpointId
components:
  responses:
    internalServerError:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 500
            errorCode: UNEXPECTED_ERROR
            reason: Internal Server Error
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Internal Server Error.
    forbidden:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 403
            errorCode: CANNOT_CHANGE_GROUP_NAME
            reason: Forbidden
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Forbidden.
    tooManyRequests:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 429
            errorCode: RATE_LIMITED
            reason: Too Many Requests
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Too Many Requests.
      headers:
        RateLimit-Limit:
          $ref: '#/components/headers/HeaderRateLimitLimit'
        RateLimit-Remaining:
          $ref: '#/components/headers/HeaderRateLimitRemaining'
        Retry-After:
          $ref: '#/components/headers/HeaderRetryAfter'
    unauthorized:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 401
            errorCode: NOT_ORG_GROUP_CREATOR
            reason: Unauthorized
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Unauthorized.
    conflict:
      content:
        application/json:
          example:
            detail: '(This is just an example, the exception may not be related to this endpoint) Cannot delete organization link while there is active migration in following project ids: 60c4fd418ebe251047c50554'
            error: 409
            errorCode: CANNOT_DELETE_ORG_ACTIVE_LIVE_MIGRATION_ATLAS_ORG_LINK
            reason: Conflict
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Conflict.
    badRequest:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint) No provider AWS exists.
            error: 400
            errorCode: VALIDATION_ERROR
            reason: Bad Request
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Bad Request.
    notFound:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint) Cannot find resource AWS
            error: 404
            errorCode: RESOURCE_NOT_FOUND
            reason: Not Found
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Not Found.
  schemas:
    DataLakeDataProcessRegion:
      description: Information about the cloud provider region to which the Federated Database Instance routes client connections.
      properties:
        cloudProvider:
          description: Name of the cloud service that hosts the Federated Database Instance's infrastructure.
          enum:
          - AWS
          - AZURE
          - GCP
          type: string
        region:
          $ref: '#/components/schemas/BaseAtlasDataLakeRegion'
      required:
      - cloudProvider
      - region
      type: object
    AtlasDataFederationGCPRegion:
      description: Atlas Data Federation GCP Regions.
      enum:
      - IOWA_USA
      - BELGIUM_EU
      type: string
    DataLakeTenant:
      properties:
        cloudProviderConfig:
          $ref: '#/components/schemas/DataLakeCloudProviderConfig'
        dataProcessRegion:
          $ref: '#/components/schemas/DataLakeDataProcessRegion'
        groupId:
          description: Unique 24-hexadecimal character string that identifies the project.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        hostnames:
          description: List that contains the hostnames assigned to the Federated Database Instance.
          items:
            description: Unique hostname assigned to the Federated Database Instance.
            readOnly: true
            type: string
          readOnly: true
          type: array
        name:
          description: Human-readable label that identifies the Federated Database Instance.
          type: string
        privateEndpointHostnames:
          description: List that contains the sets of private endpoints and hostnames.
          items:
            $ref: '#/components/schemas/PrivateEndpointHostname'
          readOnly: true
          type: array
        state:
          description: Label that indicates the status of the Federated Database Instance.
          enum:
          - UNVERIFIED
          - ACTIVE
          - DELETED
          readOnly: true
          type: string
        storage:
          $ref: '#/components/schemas/DataLakeStorage'
      type: object
    PrivateNetworkEndpointIdEntry:
      properties:
        azureLinkId:
          description: Link ID that identifies the Azure private endpoint connection.
          type: string
        comment:
          description: Human-readable string to associate with this private endpoint.
          type: string
        customerEndpointDNSName:
          description: Human-readable label to identify customer's VPC endpoint DNS name. If defined, you must also specify a value for `region`.
          type: string
        customerEndpointIPAddress:
          description: IP address used to connect to the Azure private endpoint.
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          type: string
        endpointId:
          description: Unique 22-character alphanumeric string that identifies the private endpoint.
          example: vpce-3bf78b0ddee411ba1
          externalDocs:
            description: Atlas Data Lake supports Amazon Web Services private endpoints using the AWS PrivateLink feature.
            url: https://aws.amazon.com/privatelink/?privatelink-blogs.sort-by=item.additionalFields.createdDate&privatelink-blogs.sort-order=desc
          pattern: ^vpce-[0-9a-f]{17}$
          type: string
        errorMessage:
          description: Error message describing a failure approving the private endpoint request.
          type: string
        provider:
          default: AWS
          description: Human-readable label that identifies the cloud service provider. Atlas Data Lake supports Amazon Web Services only.
          enum:
          - AWS
          type: string
        region:
          description: Human-readable label to identify the region of customer's VPC endpoint. If defined, you must also specify a value for `customerEndpointDNSName`.
          example: US_EAST_1
          type: string
        status:
          description: Status of the private endpoint connection request.
          enum:
          - PENDING
          - OK
          - FAILED
          - DELETING
          type: string
        type:
          default: DATA_LAKE
          description: Human-readable label that identifies the resource type associated with this private endpoint.
          enum:
          - DATA_LAKE
          type: string
      required:
      - endpointId
      type: object
    Link:
      properties:
        href:
          description: Uniform Resource Locator (URL) that points another API resource to which this response has some relationship. This URL often begins with `https://cloud.mongodb.com/api/atlas`.
          example: https://cloud.mongodb.com/api/atlas
          type: string
        rel:
          description: Uniform Resource Locator (URL) that defines the semantic relationship between this resource and another API resource. This URL often begins with `https://cloud.mongodb.com/api/atlas`.
          example: self
          type: string
      type: object
    DataFederationAzureCloudProviderConfig:
      description: Configuration for running Data Federation in Azure.
      properties:
        atlasAppId:
          description: The App ID generated by Atlas for the Service Principal's access policy.
          readOnly: true
          type: string
        roleId:
          description: Unique identifier of the role that Data Federation can use to access the data stores. Required if specifying `cloudProviderConfig`.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
        servicePrincipalId:
          description: The ID of the Service Principal for which there is an access policy for Atlas to access Azure resources.
          readOnly: true
          type: string
        tenantId:
          description: The Azure Active Directory / Entra ID tenant ID associated with the Service Principal.
          readOnly: true
          type: string
      required:
      - roleId
      type: object
    ApiError:
      properties:
        badRequestDetail:
          $ref: '#/components/schemas/BadRequestDetail'
        detail:
          description: Describes the specific conditions or reasons that cause each type of error.
          type: string
        error:
          description: HTTP status code returned with this error.
          externalDocs:
            url: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
          format: int32
          readOnly: true
          type: integer
        errorCode:
          description: Application error code returned with this error.
          readOnly: true
          type: string
        parameters:
          description: Parameters used to give more information about the error.
          items:
            type: object
          readOnly: true
          type: array
        reason:
          description: Application error message returned with this error.
          readOnly: true
          type: string
      required:
      - error
      - errorCode
      type: object
    DataLakeDatabaseCollection:
      description: A collection and data sources that map to a ``stores`` data store.
      properties:
        dataSources:
          description: Array that contains the data stores that map to a collection for this data lake.
          items:
            $ref: '#/components/schemas/DataLakeDatabaseDataSourceSettings'
          type: array
        name:
          description: Human-readable label that identifies the collection to which MongoDB Cloud maps the data in the data stores.
          type: string
      type: object
    PrivateEndpointHostname:
      description: Set of Private endpoint and hostnames.
      properties:
        hostname:
          description: Human-readable label that identifies the hostname.
          readOnly: true
          type: string
        privateEndpoint:
          description: Human-readable label that identifies private endpoint.
          readOnly: true
          type: string
      readOnly: true
      type: object
    DataLakeDatabaseDataSourceSettings:
      description: Data store that maps to a collection for this data lake.
      properties:
        allowInsecure:
          default: false
          description: Flag that validates the scheme in the specified URLs. If `true`, allows insecure `HTTP` scheme, doesn't verify the server's certificate chain and hostname, and accepts any certificate with any hostname presented by the server. If `false`, allows secure `HTTPS` scheme only.
          type: boolean
        collection:
          description: Human-readable label that identifies the collection in the database. For creating a wildcard (`*`) collection, you must omit this parameter.
          type: string
        collectionRegex:
          description: Regex pattern to use for creating the wildcard (*) collection. To learn more about the regex syntax, see [Go programming language](https://pkg.go.dev/regexp).
          type: string
        database:
          description: Human-readable label that identifies the database, which contains the collection in the cluster. You must omit this parameter to generate wildcard (`*`) collections for dynamically generated databases.
          type: string
        databaseRegex:
          description: Regex pattern to use for creating the wildcard (*) database. To learn more about the regex syntax, see [Go programming language](https://pkg.go.dev/regexp).
          type: string
        datasetName:
          description: Human-readable label that identifies the dataset that Atlas generates for an ingestion pipeline run or Online Archive.
          example: v1$atlas$snapshot$Cluster0$myDatabase$myCollection$19700101T000000Z
          type: string
        datasetPrefix:
          description: Human-readable label that matches against the dataset names for ingestion pipeline runs or Online Archives.
          type: string
        defaultFormat:
          description: File format that MongoDB Cloud uses if it encounters a file without a file extension while searching **storeName**.
          enum:
          - .avro
          - .avro.bz2
          - .avro.gz
          - .bson
          - .bson.bz2
          - .bson.gz
          - .bsonx
          - .csv
          - .csv.bz2
          - .csv.gz
          - .json
          - .json.bz2
          - .json.gz
          - .orc
          - .parquet
          - .tsv
          - .tsv.bz2
          - .tsv.gz
          type: string
        path:
          description: File path that controls how MongoDB Cloud searches for and parses files in the **storeName** before mapping them to a collection.Specify ``/`` to capture all files and folders from the ``prefix`` path.
          type: string
        provenanceFieldName:
          description: Name for the field that includes the provenance of the documents in the results. MongoDB Cloud returns different fields in the results for each supported provider.
          type: string
        storeName:
          description: Human-readable label that identifies the data store that MongoDB Cloud maps to the collection.
          type: string
        trimLevel:
          description: Unsigned integer that specifies how many fields of the dataset name to trim from the left of the dataset name before mapping the remaining fields to a wildcard collection name.
          format: int32
          type: integer
        urls:
          description: URLs of the publicly accessible data files. You can't specify URLs that require authentication. Atlas Data Lake creates a partition for each URL. If empty or omitted, Data Lake uses the URLs from the store specified in the **dataSources.storeName** parameter.
          items:
            type: string
          type: array
      type: object
    DataLakeAtlasStoreInstance:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          clusterName:
            description: Human-readable label of the MongoDB Cloud cluster on which the store is based.
            type: string
          projectId:
            description: Unique 24-hexadecimal digit string that identifies the project.
            maxLength: 24
            minLength: 24
            pattern: ^([a-f0-9]{24})$
            readOnly: true
            type: string
          readConcern:
            $ref: '#/components/schemas/DataLakeAtlasStoreReadConcern'
          readPreference:
            $ref: '#/components/schemas/DataLakeAtlasStoreReadPreference'
        type: object
      type: object
    ApiAtlasDataLakeAWSRegionView:
      description: Atlas Data Federation AWS Regions.
      enum:
      - SYDNEY_AUS
      - MUMBAI_IND
      - FRANKFURT_DEU
      - DUBLIN_IRL
      - LONDON_GBR
      - VIRGINIA_USA
      - OREGON_USA
      - SAOPAULO_BRA
      - MONTREAL_CAN
      - TOKYO_JPN
      - SEOUL_KOR
      - SINGAPORE_SGP
      type: string
    DataLakeAWSCloudProviderConfig:
      description: Configuration for running Data Federation in AWS.
      properties:
        externalId:
          description: Unique identifier associated with the Identity and Access Management (IAM) role that the data lake assumes when accessing the data stores.
          readOnly: true
          type: string
        iamAssumedRoleARN:
          description: Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that the data lake assumes when accessing data stores.
          example: arn:aws:iam::123456789012:root
          maxLength: 2048
          minLength: 20
          readOnly: true
          type: string
        iamUserARN:
          description: Amazon Resource Name (ARN) of the user that the data lake assumes when accessing data stores.
          readOnly: true
          type: string
        roleId:
          description: Unique identifier of the role that the data lake can use to access the data stores.Required if specifying cloudProviderConfig.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
        testS3Bucket:
          description: Name of the S3 data bucket that the provided role ID is authorized to access. Required if specifying `cloudProviderConfig`.
          type: string
          writeOnly: true
      required:
      - roleId
      - testS3Bucket
      type: object
    DataFederationGCPCloudProviderConfig:
      description: Configuration for running Data Federation in GCP.
      properties:
        gcpServiceAccount:
          description: The email address of the Google Cloud Platform (GCP) service account created by Atlas which should be authorized to allow Atlas to access Google Cloud Storage.
          readOnly: true
          type: string
        roleId:
          description: Unique identifier of the role that Data Federation can use to access the data stores. Required if specifying `cloudProviderConfig`.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
      required:
      - roleId
      type: object
    BaseAtlasDataLakeRegion:
      description: Name of the region to which the data lake routes client connections.
      oneOf:
      - $ref: '#/components/schemas/ApiAtlasDataLakeAWSRegionView'
      - $ref: '#/components/schemas/AtlasDataFederationAzureRegion'
      - $ref: '#/components/schemas/AtlasDataFederationGCPRegion'
      type: object
    DataLakeStorage:
      description: Configuration information for each data store and its mapping to MongoDB Cloud databases.
      properties:
        databases:
          description: Array that contains the queryable databases and collections for this data lake.
          items:
            $ref: '#/components/schemas/DataLakeDatabaseInstance'
          type: array
        stores:
          description: Array that contains the data stores for the data lake.
          items:
            $ref: '#/components/schemas/DataLakeStoreSettings'
          type: array
      type: object
    DataLakeApiBase:
      description: An aggregation pipeline that applies to the collection.
      properties:
        name:
          description: Human-readable label that identifies the view, which corresponds to an aggregation pipeline on a collection.
          type: string
        pipeline:
          description: Aggregation pipeline stages to apply to the source collection.
          externalDocs:
            description: Aggregation Pipelines
            url: https://docs.mongodb.com/manual/core/aggregation-pipeline/
          type: string
        source:
          description: Human-readable label that identifies the source collection for the view.
          type: string
      type: object
    BadRequestDetail:
      description: Bad request detail.
      properties:
        fields:
          description: Describes all violations in a client request.
          items:
            $ref: '#/components/schemas/FieldViolation'
          type: array
      readOnly: true
      type: object
    DataFederationTenantQueryLimit:
      description: Details of a tenant-level query limit for Data Federation. Query limit is the limit on the amount of usage during a time period based on cost.
      properties:
        currentUsage:
          description: Amount that indicates the current usage of the limit.
          format: int64
          readOnly: true
          type: integer
        defaultLimit:
          description: Default value of the limit.
          format: int64
          readOnly: true
          type: integer
        lastModifiedDate:
          description: Only used for Data Federation limits. Timestamp that indicates when this usage limit was last modified. This field uses the ISO 8601 timestamp format in UTC.
          format: date-time
          readOnly: true
          type: string
        maximumLimit:
          description: Maximum value of the limit.
          format: int64
          readOnly: true
          type: integer
        name:
          description: Human-readable label that identifies the user-managed limit to modify.
          readOnly: true
          type: string
        overrunPolicy:
          description: Only used for Data Federation limits. Action to take when the usage limit is exceeded. If limit span is set to QUERY, this is ignored because MongoDB Cloud stops the query when it exceeds the usage limit.
          enum:
          - BLOCK
          - BLOCK_AND_KILL
          type: string
        tenantName:
          description: Human-readable label that identifies the Federated Database Instance. If specified, the usage limit is for the specified federated database instance only. If omitted, the usage limit is for all federated database instances in the project.
          readOnly: true
          type: string
        value:
          description: Amount to set the limit to.
          format: int64
          type: integer
      required:
      - name
      - value
      title: Data Federation Tenant-Level Query Limit
      type: object
    AtlasDataFederationAzureRegion:
      description: Atlas Data Federation Azure Regions.
      enum:
      - VIRGINIA_USA
      - AMSTERDAM_NLD
      - SAOPAULO_BRA
      type: string
    DataLakeCloudProviderConfig:
      description: Cloud provider where this Federated Database Instance is hosted.
      properties:
        aws:
          $ref: '#/components/schemas/DataLakeAWSCloudProviderConfig'
        azure:
          $ref: '#/components/schemas/DataFederationAzureCloudProviderConfig'
        gcp:
          $ref: '#/components/schemas/DataFederationGCPCloudProviderConfig'
      title: Data Federation Cloud Provider
      type: object
    DataLakeGoogleCloudStorageStore:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          bucket:
            description: Human-readable label that identifies the Google Cloud Storage bucket.
            type: string
          delimiter:
            description: Delimiter.
            type: string
          prefix:
            description: Prefix.
            type: string
          public:
            default: false
            description: Flag that indicates whether the bucket is public. If set to `true`, MongoDB Cloud doesn't use the configured GCP service account to access the bucket. If set to `false`, the configured GCP service acccount must include permissions to access the bucket.
            type: boolean
          region:
            description: Google Cloud Platform Regions.
            enum:
            - ASIA_EAST_2
            - ASIA_NORTHEAST_2
            - ASIA_NORTHEAST_3
            - ASIA_SOUTH_1
            - ASIA_SOUTH_2
            - ASIA_SOUTHEAST_2
            - AUSTRALIA_SOUTHEAST_1
            - AUSTRALIA_SOUTHEAST_2
            - CENTRAL_US
            - EASTERN_ASIA_PACIFIC
            - EASTERN_US
            - EUROPE_CENTRAL_2
            - EUROPE_NORTH_1
            - EUROPE_WEST_2
            - EUROPE_WEST_3
            - EUROPE_WEST_4
            - EUROPE_WEST_6
            - EUROPE_WEST_10
            - EUROPE_WEST_12
            - MIDDLE_EAST_CENTRAL_1
            - MIDDLE_EAST_CENTRAL_2
            - MIDDLE_EAST_WEST_1
            - NORTH_AMERICA_NORTHEAST_1
            - NORTH_AMERICA_NORTHEAST_2
            - NORTHEASTERN_ASIA_PACIFIC
            - SOUTH_AMERICA_EAST_1
            - SOUTH_AMERICA_WEST_1
            - SOUTHEASTERN_ASIA_PACIFIC
            - US_EAST_4
            - US_EAST_5
            - US_WEST_2
            - US_WEST_3
            - US_WEST_4
            - US_SOUTH_1
            - WESTERN_EUROPE
            - WESTERN_US
            title: GCP Regions
            type: string
          replacementDelimiter:
            description: Replacement Delimiter.
            type: string
        type: object
      type: object
    DataLakeDLSGCPStore:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          region:
            description: Google Cloud Platform Regions.
            enum:
            - ASIA_EAST_2
            - ASIA_NORTHEAST_2
            - ASIA_NORTHEAST_3
            - ASIA_SOUTH_1
            - ASIA_SOUTH_2
            - ASIA_SOUTHEAST_2
            - AUSTRALIA_SOUTHEAST_1
            - AUSTRALIA_SOUTHEAST_2
            - CENTRAL_US
            - EASTERN_ASIA_PACIFIC
            - EASTERN_US
            - EUROPE_CENTRAL_2
            - EUROPE_NORTH_1
            - EUROPE_WEST_2
            - EUROPE_WEST_3
            - EUROPE_WEST_4
            - EUROPE_WEST_6
            - EUROPE_WEST_10
            - EUROPE_WEST_12
            - MIDDLE_EAST_CENTRAL_1
            - MIDDLE_EAST_CENTRAL_2
            - MIDDLE_EAST_WEST_1
            - NORTH_AMERICA_NORTHEAST_1
            - NORTH_AMERICA_NORTHEAST_2
            - NORTHEASTERN_ASIA_PACIFIC
            - SOUTH_AMERICA_EAST_1
            - SOUTH_AMERICA_WEST_1
            - SOUTHEASTERN_ASIA_PACIFIC
            - US_EAST_4
            - US_EAST_5
            - US_WEST_2
            - US_WEST_3
            - US_WEST_4
            - US_SOUTH_1
            - WESTERN_EUROPE
            - WESTERN_US
            title: GCP Regions
            type: string
        type: object
      type: object
    FieldViolation:
      properties:
        description:
          description: A description of why the request element is bad.
          type: string
        field:
          description: A path that leads to a field in the request body.
          type: string
      required:
      - description
      - field
      type: object
    DataLakeStoreSettings:
      description: Group of settings that define where the data is stored.
      discriminator:
        mapping:
          atlas: '#/components/schemas/DataLakeAtlasStoreInstance'
          azure: '#/components/schemas/DataLakeAzureBlobStore'
          dls:aws: '#/components/schemas/DataLakeDLSAWSStore'
          dls:azure: '#/components/schemas/DataLakeDLSAzureStore'
          dls:gcp: '#/components/schemas/DataLakeDLSGCPStore'
          gcs: '#/components/schemas/DataLakeGoogleCloudStorageStore'
          http: '#/components/schemas/DataLakeHTTPStore'
          s3: '#/components/schemas/DataLakeS3StoreSettings'
        propertyName: provider
      oneOf:
      - $ref: '#/components/schemas/DataLakeS3StoreSettings'
      - $ref: '#/components/schemas/DataLakeDLSAWSStore'
      - $ref: '#/components/schemas/DataLakeDLSAzureStore'
      - $ref: '#/components/schemas/DataLakeDLSGCPStore'
      - $ref: '#/components/schemas/DataLakeAtlasStoreInstance'
      - $ref: '#/components/schemas/DataLakeHTTPStore'
      - $ref: '#/components/schemas/DataLakeAzureBlobStore'
      - $ref: '#/components/schemas/DataLakeGoogleCloudStorageStore'
      properties:
        name:
          description: Human-readable label that identifies the data store. The **databases.[n].collections.[n].dataSources.[n].storeName** field references this values as part of the mapping configuration. To use MongoDB Cloud as a data store, the data lake requires a serverless instance or an `M10` or higher cluster.
          type: string
        provider:
          type: string
      required:
      - provider
      type: object
    DataLakeHTTPStore:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          allowInsecure:
            default: false
            description: Flag that validates the scheme in the specified URLs. If `true`, allows insecure `HTTP` scheme, doesn't verify the server's certificate chain and hostname, and accepts any certificate with any hostname presented by the server. If `false`, allows secure `HTTPS` scheme only.
            type: boolean
          defaultFormat:
            description: Default format that Data Lake assumes if it encounters a file without an extension while searching the `storeName`. If omitted, Data Lake attempts to detect the file type by processing a few bytes of the file. The specified format only applies to the URLs specified in the **databases.[n].collections.[n].dataSources** object.
            type: string
          urls:
            description: Comma-separated list of publicly accessible HTTP URLs where data is stored. You can't specify URLs that require authentication.
            items:
              description: Comma-separated list of publicly accessible HTTP URLs where data is stored. You can't specify URLs that require authentication.
              type: string
            type: array
        type: object
      type: object
    DataLakeAzureBlobStore:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          containerName:
            description: Human-readable label that identifies the name of the container.
            type: string
          delimiter:
            description: Delimiter.
            type: string
          prefix:
            description: Prefix.
            type: string
          public:
            default: false
            description: Flag that indicates whether the blob store is public. If set to `true`, MongoDB Cloud doesn't use the configured Azure service principal to access the blob store. If set to `false`, the configured Azure service principal must include permissions to access the blob store.
            type: boolean
          region:
            description: Microsoft Azure Regions.
            enum:
            - US_CENTRAL
            - US_EAST
            - US_EAST_2
            - US_NORTH_CENTRAL
            - US_WEST
            - US_SOUTH_CENTRAL
            - EUROPE_NORTH
            - EUROPE_WEST
            - US_WEST_CENTRAL
            - US_WEST_2
            - US_WEST_3
            - CANADA_EAST
            - CANADA_CENTRAL
            - BRAZIL_SOUTH
            - BRAZIL_SOUTHEAST
            - AUSTRALIA_CENTRAL
            - AUSTRALIA_CENTRAL_2
            - AUSTRALIA_EAST
            - AUSTRALIA_SOUTH_EAST
            - GERMANY_CENTRAL
            - GERMANY_NORTH_EAST
            - GERMANY_WEST_CENTRAL
            - GERMANY_NORTH
            - SWEDEN_CENTRAL
            - SWEDEN_SOUTH
            - SWITZERLAND_NORTH
            - SWITZERLAND_WEST
            - UK_SOUTH
            - UK_WEST
            - NORWAY_EAST
            - NORWAY_WEST
            - INDIA_CENTRAL
            - INDIA_SOUTH
            - INDIA_WEST
            - CHINA_EAST
            - CHINA_NORTH
            - ASIA_EAST
            - JAPAN_EAST
            - JAPAN_WEST
            - ASIA_SOUTH_EAST
            - KOREA_CENTRAL
            - KOREA_SOUTH
            - FRANCE_CENTRAL
            - FRANCE_SOUTH
            - SOUTH_AFRICA_NORTH
            - SOUTH_AFRICA_WEST
            - UAE_CENTRAL
            - UAE_NORTH
            - QATAR_CENTRAL
            title: Azure Regions
            type: string
          replacementDelimiter:
            description: Replacement Delimiter.
            type: string
          serviceURL:
            description: Service URL.
            type: string
        type: object
      type: object
    DataLakeDLSAzureStore:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          region:
            description: Microsoft Azure Regions.
            enum:
            - US_CENTRAL
            - US_EAST
            - US_EAST_2
            - US_NORTH_CENTRAL
            - US_WEST
            - US_SOUTH_CENTRAL
            - EUROPE_NORTH
            - EUROPE_WEST
            - US_WEST_CENTRAL
            - US_WEST_2
            - US_WEST_3
            - CANADA_EAST
            - CANADA_CENTRAL
            - BRAZIL_SOUTH
            - BRAZIL_SOUTHEAST
            - AUSTRALIA_CENTRAL
            - AUSTRALIA_CENTRAL_2
            - AUSTRALIA_EAST
            - AUSTRALIA_SOUTH_EAST
            - GERMANY_CENTRAL
            - GERMANY_NORTH_EAST
            - GERMANY_WEST_CENTRAL
            - GERMANY_NORTH
            - SWEDEN_CENTRAL
            - SWEDEN_SOUTH
            - SWITZERLAND_NORTH
            - SWITZERLAND_WEST
            - UK_SOUTH
            - UK_WEST
            - NORWAY_EAST
            - NORWAY_WEST
            - INDIA_CENTRAL
            - INDIA_SOUTH
            - INDIA_WEST
            - CHINA_EAST
            - CHINA_NORTH
            - ASIA_EAST
            - JAPAN_EAST
            - JAPAN_WEST
            - ASIA_SOUTH_EAST
            - KOREA_CENTRAL
            - KOREA_SOUTH
            - FRANCE_CENTRAL
            - FRANCE_SOUTH
            - SOUTH_AFRICA_NORTH
            - SOUTH_AFRICA_WEST
            - UAE_CENTRAL
            - UAE_NORTH
            - QATAR_CENTRAL
            title: Azure Regions
            type: string
        type: object
      type: object
    PaginatedPrivateNetworkEndpointIdEntryView:
      properties:
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        results:
          description: List of returned documents that MongoDB Cloud provides when completing this request.
          items:
            $ref: '#/components/schemas/PrivateNetworkEndpointIdEntry'
          readOnly: true
          type: array
        totalCount:
          description: Total number of documents available. MongoDB Cloud omits this value if `includeCount` is set to `false`. The total number is an estimate and may not be exact.
          format: int32
          minimum: 0
          readOnly: true
          type: integer
      required:
      - results
      type: object
    DataLakeAtlasStoreReadConcern:
      description: MongoDB Cloud cluster read concern, which determines the consistency and isolation properties of the data read from an Atlas cluster.
      properties:
        level:
          description: Read Concern level that specifies the consistency and availability of the data read.
          enum:
          - LOCAL
          - MAJORITY
          - LINEARIZABLE
          - SNAPSHOT
          - AVAILABLE
          externalDocs:
            description: Read Concern Level
            url: https://www.mongodb.com/docs/manual/reference/read-concern/#read-concern-levels
          type: string
      type: object
    DataLakeDLSAWSStore:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          region:
            description: Physical location where MongoDB Cloud deploys your AWS-hosted MongoDB cluster nodes. The region you choose can affect network latency for clients accessing your databases. When MongoDB Cloud deploys a dedicated cluster, it checks if a VPC or VPC connection exists for that provider and region. If not, MongoDB Cloud creates them as part of the deployment. MongoDB Cloud assigns the VPC a CIDR block. To limit a new VPC peering connection to one CIDR block and region, create the connection first. Deploy the cluster after the connection starts.
            enum:
            - US_GOV_WEST_1
            - US_GOV_EAST_1
            - US_EAST_1
            - US_EAST_2
            - US_WEST_1
            - US_WEST_2
            - CA_CENTRAL_1
            - EU_NORTH_1
            - EU_WEST_1
            - EU_WEST_2
            - EU_WEST_3
            - EU_CENTRAL_1
            - EU_CENTRAL_2
            - AP_EAST_1
            - AP_NORTHEAST_1
            - AP_NORTHEAST_2
            - AP_NORTHEAST_3
            - AP_SOUTHEAST_1
            - AP_SOUTHEAST_2
            - AP_SOUTHEAST_3
            - AP_SOUTHEAST_4
            - AP_SOUTH_1
            - AP_SOUTH_2
            - SA_EAST_1
            - CN_NORTH_1
            - CN_NORTHWEST_1
            - ME_SOUTH_1
            - ME_CENTRAL_1
            - AF_SOUTH_1
            - EU_SOUTH_1
            - EU_SOUTH_2
            - IL_CENTRAL_1
            - CA_WEST_1
            - GLOBAL
            title: AWS Regions
            type: string
        type: object
      type: object
    DataLakeAtlasStoreReadPreferenceTag:
      properties:
        name:
          description: Human-readable label of the tag.
          type: string
        value:
          description: Value of the tag.
          type: string
      type: object
    DataLakeDatabaseInstance:
      description: Database associated with this data lake. Databases contain collections and views.
      properties:
        collections:
          description: Array of collections and data sources that map to a ``stores`` data store.
          items:
            $ref: '#/components/schemas/DataLakeDatabaseCollection'
          type: array
        maxWildcardCollections:
          default: 100
          description: Maximum number of wildcard collections in the database. This only applies to S3 data sources.
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        name:
          description: Human-readable label that identifies the database to which the data lake maps data.
          type: string
        views:
          description: Array of aggregation pipelines that apply to the collection. This only applies to S3 data sources.
          items:
            $ref: '#/components/schemas/DataLakeApiBase'
          type: array
      type: object
    DataLakeS3StoreSettings:
      allOf:
      - $ref: '#/components/schemas/DataLakeStoreSettings'
      - properties:
          additionalStorageClasses:
            description: Collection of AWS S3 [storage classes](https://aws.amazon.com/s3/storage-classes/). Atlas Data Lake includes the files in these storage classes in the query results.
            items:
              description: AWS S3 [storage class](https://aws.amazon.com/s3/storage-classes/) where the files to include in the results are stored.
              enum:
              - STANDARD
              - INTELLIGENT_TIERING
              - STANDARD_IA
              type: string
            type: array
          bucket:
            description: Human-readable label that identifies the AWS S3 bucket. This label must exactly match the name of an S3 bucket that the data lake can access with the configured AWS Identity and Access Management (IAM) credentials.
            type: string
          delimiter:
            description: The delimiter that separates **databases.[n].collections.[n].dataSources.[n].path** segments in the data store. MongoDB Cloud uses the delimiter to efficiently traverse S3 buckets with a hierarchical directory structure. You can specify any character supported by the S3 object keys as the delimiter. For example, you can specify an underscore (_) or a plus sign (+) or multiple characters, such as double underscores (__) as the delimiter. If omitted, defaults to `/`.
            type: string
          includeTags:
            default: false
            description: Flag that indicates whether to use S3 tags on the files in the given path as additional partition attributes. If set to `true`, data lake adds the S3 tags as additional partition attributes and adds new top-level BSON elements associating each tag to each document.
            type: boolean
          prefix:
            description: Prefix that MongoDB Cloud applies when searching for files in the S3 bucket. The data store prepends the value of prefix to the **databases.[n].collections.[n].dataSources.[n].path** to create the full path for files to ingest. If omitted, MongoDB Cloud searches all files from the root of the S3 bucket.
            type: string
          public:
            default: false
            description: Flag that indicates whether the bucket is public. If set to `true`, MongoDB Cloud doesn't use the configured AWS Identity and Access Management (IAM) role to access the S3 bucket. If set to `false`, the configured AWS IAM role must include permissions to access the S3 bucket.
            type: boolean
          region:
[...]
