openapi: 3.0.1
info:
  description: "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API supports OAuth2 Service Accounts and HTTP Digest-based API keys. Service accounts are the recommended authentication method and API keys are considered a legacy option.\n\nTo authenticate with a Service Account, first exchange its client ID and secret for an access token using the OAuth 2.0 Client Credentials flow. Atlas provides a token endpoint at `POST https://cloud.mongodb.com/api/oauth/token`, which returns a Bearer token that is reusable and valid for 1 hour (3600 seconds).\n\nFor example, to [return a list of your organizations](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listorgs) with [cURL](https://en.wikipedia.org/wiki/CURL), first generate an access token and then use that token to call the same Atlas Administration API endpoint shown in the current example:\n\n```\nACCESS_TOKEN=$(curl -fsS --request POST https://cloud.mongodb.com/api/oauth/token \\\n  --header \"Authorization: Basic $(printf '%s' \"${CLIENT_ID}:${CLIENT_SECRET}\" | base64 | tr -d '\\n')\" \\\n  --header \"Content-Type: application/x-www-form-urlencoded\" \\\n  --header \"Accept: application/json\" \\\n  --data \"grant_type=client_credentials\" | jq -r '.access_token')\n\ncurl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs?pretty=true\"\n```\n\nIf your organization requires an IP access list for the Atlas Administration API, the token can be created from any IP address, but the API call that uses the token must originate from an allowed IP.\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).\n\nYou can also explore the various endpoints available through the Atlas Administration API in MongoDB's [Postman workspace](https://www.postman.com/mongodb-devrel/workspace/mongodb-atlas-administration-apis/) (requires a Postman account)."
  license:
    name: CC BY-NC-SA 3.0 US
    url: https://creativecommons.org/licenses/by-nc-sa/3.0/us/
  termsOfService: https://www.mongodb.com/mongodb-management-service-terms-and-conditions
  title: MongoDB Atlas Administration Access Tracking Alert Configurations API
  version: '2.0'
  x-xgen-sha: 3d70e065843c008b9871ea7836c98c9de6f202f9
servers:
- url: https://cloud.mongodb.com
security:
- ServiceAccounts: []
- DigestAuth: []
tags:
- description: Returns and edits the conditions that trigger alerts and how MongoDB Cloud notifies users. This collection remains under revision and may change.
  name: Alert Configurations
paths:
  /api/atlas/v2/alertConfigs/matchers/fieldNames:
    get:
      description: Get all field names that the `matchers.fieldName` parameter accepts when you create or update an Alert Configuration. You can successfully call this endpoint with any assigned role.
      operationId: listAlertConfigMatcherFieldNames
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                items:
                  $ref: '#/components/schemas/MatcherFieldView'
                type: array
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return All Alert Configuration Matchers Field Names
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations listMatcherFieldNames --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListAlertConfigMatcherFieldNamesApiParams{}\n\tsdkResp, httpResp, err := client.AlertConfigurationsApi.\n\t\tListAlertConfigMatcherFieldNamesWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/alertConfigs/matchers/fieldNames?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/alertConfigs/matchers/fieldNames?pretty=true\""
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigMatcherFieldNames
      x-xgen-operation-id-override: listMatcherFieldNames
  /api/atlas/v2/groups/{groupId}/alertConfigs:
    get:
      description: 'Returns all alert configurations for one project. These alert configurations apply to any component in the project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.


        This resource remains under revision and may change.'
      operationId: listGroupAlertConfigs
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/includeCount'
      - $ref: '#/components/parameters/itemsPerPage'
      - $ref: '#/components/parameters/pageNum'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedAlertConfigView'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return All Alert Configurations in One Project
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations listAlertConfigs --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListGroupAlertConfigsApiParams{}\n\tsdkResp, httpResp, err := client.AlertConfigurationsApi.\n\t\tListGroupAlertConfigsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listGroupAlertConfigs
      x-xgen-operation-id-override: listAlertConfigs
    post:
      description: 'Creates one alert configuration for the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role.


        This resource remains under revision and may change.'
      operationId: createGroupAlertConfig
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/GroupAlertsConfig'
        description: Creates one alert configuration for the specified project.
        required: true
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/GroupAlertsConfig'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Create One Alert Configuration in One Project
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations createAlertConfig --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.CreateGroupAlertConfigApiParams{}\n\tsdkResp, httpResp, err := client.AlertConfigurationsApi.\n\t\tCreateGroupAlertConfigWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/createGroupAlertConfig
      x-xgen-operation-id-override: createAlertConfig
  /api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}:
    delete:
      description: 'Removes one alert configuration from the specified project. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.


        This resource remains under revision and may change.'
      externalDocs:
        description: Return All Alert Configurations for One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations
      operationId: deleteGroupAlertConfig
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 24-hexadecimal digit string that identifies the alert configuration.
        in: path
        name: alertConfigId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
      responses:
        '204':
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: '2023-01-01'
          description: No Content
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Remove One Alert Configuration from One Project
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations deleteAlertConfig --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.DeleteGroupAlertConfigApiParams{}\n\thttpResp, err := client.AlertConfigurationsApi.\n\t\tDeleteGroupAlertConfigWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}\""
      x-rolesRequirements:
      - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/deleteGroupAlertConfig
      x-xgen-operation-id-override: deleteAlertConfig
    get:
      description: 'Returns the specified alert configuration from the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.


        This resource remains under revision and may change.'
      externalDocs:
        description: Return All Alert Configurations for One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations
      operationId: getGroupAlertConfig
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 24-hexadecimal digit string that identifies the alert configuration.
        in: path
        name: alertConfigId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/GroupAlertsConfig'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Alert Configuration from One Project
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations getAlertConfig --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupAlertConfigApiParams{}\n\tsdkResp, httpResp, err := client.AlertConfigurationsApi.\n\t\tGetGroupAlertConfigWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/getGroupAlertConfig
      x-xgen-operation-id-override: getAlertConfig
    patch:
      description: 'Enables or disables the specified alert configuration in the specified project. The resource enables the specified alert configuration if currently enabled. The resource disables the specified alert configuration if currently disabled. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role.


        **NOTE**: This endpoint updates only the enabled/disabled state for the alert configuration. To update more than just this configuration, see Update One Alert Configuration.


        This resource remains under revision and may change.'
      externalDocs:
        description: Update One Alert Configuration
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/updateAlertConfiguration
      operationId: toggleGroupAlertConfig
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 24-hexadecimal digit string that identifies the alert configuration that triggered this alert.
        in: path
        name: alertConfigId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/AlertsToggle'
        description: Enables or disables the specified alert configuration in the specified project.
        required: true
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/GroupAlertsConfig'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Toggle State of One Alert Configuration in One Project
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations toggleAlertConfig --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ToggleGroupAlertConfigApiParams{}\n\tsdkResp, httpResp, err := client.AlertConfigurationsApi.\n\t\tToggleGroupAlertConfigWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/toggleGroupAlertConfig
      x-xgen-method-verb-override:
        customMethod: true
        verb: toggle
      x-xgen-operation-id-override: toggleAlertConfig
    put:
      description: 'Updates one alert configuration in the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role.


        **NOTE**: To enable or disable the alert configuration, see Toggle One State of One Alert Configuration in One Project.


        This resource remains under revision and may change.'
      externalDocs:
        description: Toggle One State of One Alert Configuration in One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/toggleAlertConfiguration
      operationId: updateGroupAlertConfig
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 24-hexadecimal digit string that identifies the alert configuration.
        in: path
        name: alertConfigId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/GroupAlertsConfig'
        description: Updates one alert configuration in the specified project.
        required: true
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/GroupAlertsConfig'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Update One Alert Configuration in One Project
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations updateAlertConfig --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.UpdateGroupAlertConfigApiParams{}\n\tsdkResp, httpResp, err := client.AlertConfigurationsApi.\n\t\tUpdateGroupAlertConfigWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PUT \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PUT \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/updateGroupAlertConfig
      x-xgen-operation-id-override: updateAlertConfig
  /api/atlas/v2/groups/{groupId}/alerts/{alertId}/alertConfigs:
    get:
      description: 'Returns all alert configurations set for the specified alert. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alerts from One Project endpoint to retrieve all alerts to which the authenticated user has access.


        This resource remains under revision and may change.'
      externalDocs:
        description: Return All Alerts from One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/listAlerts
      operationId: getGroupAlertAlertConfigs
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/includeCount'
      - $ref: '#/components/parameters/itemsPerPage'
      - $ref: '#/components/parameters/pageNum'
      - description: Unique 24-hexadecimal digit string that identifies the alert.
        in: path
        name: alertId
        required: true
        schema:
          pattern: ^([a-f0-9]{24})$
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedAlertConfigView'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return All Alert Configurations Set for One Alert
      tags:
      - Alert Configurations
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api alertConfigurations getAlertConfigs --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupAlertAlertConfigsApiParams{}\n\tsdkResp, httpResp, err := client.AlertConfigurationsApi.\n\t\tGetGroupAlertAlertConfigsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alerts/{alertId}/alertConfigs?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/alerts/{alertId}/alertConfigs?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/getGroupAlertAlertConfigs
      x-xgen-operation-id-override: getAlertConfigs
components:
  schemas:
    ServerlessEventTypeViewAlertable:
      description: Event type that triggers an alert.
      enum:
      - OUTSIDE_SERVERLESS_METRIC_THRESHOLD
      example: OUTSIDE_SERVERLESS_METRIC_THRESHOLD
      externalDocs:
        description: Atlas Alert Event Types
        url: https://www.mongodb.com/docs/atlas/reference/atlas-alert-event-types/
      title: Serverless Event Types
      type: string
    SystemMemoryUsedDataMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/DataMetricUnits'
      required:
      - metricName
      type: object
    DocumentInsertedRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    DataMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/DataMetricUnits'
      required:
      - metricName
      type: object
    FlexOpCounterGetMoreRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    AvgReadExecutionTimeTimeMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/TimeMetricUnits'
      required:
      - metricName
      type: object
    ServerlessOpCounterGetMoreRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    MaxSystemNetworkInDataMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/DataMetricUnits'
      required:
      - metricName
      type: object
    MaxDiskPartitionReadIopsIndexRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    AppServiceMetricMatcherField:
      description: Name of the parameter in the target object that MongoDB Cloud checks. The parameter must match all rules for MongoDB Cloud to check for alert configurations.
      enum:
      - APPLICATION_ID
      example: APPLICATION_ID
      title: App Services Metric Matcher Fields
      type: string
    FtsDiskUtilizationDataMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/DataMetricUnits'
      required:
      - metricName
      type: object
    DiskPartitionSpaceUsedDataRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    SlackNotification:
      description: Slack notification configuration for MongoDB Cloud to send information when an event triggers an alert condition.
      properties:
        apiToken:
          description: "Slack API token or Bot token that MongoDB Cloud needs to send alert notifications via Slack. The resource requires this parameter when `\"notifications.[n].typeName\" : \"SLACK\"`. If the token later becomes invalid, MongoDB Cloud sends an email to the project owners. If the token remains invalid, MongoDB Cloud removes the token. \n\n**NOTE**: After you create a notification which requires an API or integration key, the key appears partially redacted when you:\n\n* View or edit the alert through the Atlas UI.\n\n* Query the alert for the notification through the Atlas Administration API."
          example: '**********************************************************************abcd'
          type: string
        channelName:
          description: 'Name of the Slack channel to which MongoDB Cloud sends alert notifications. The resource requires this parameter when `"notifications.[n].typeName" : "SLACK"`.'
          example: alerts
          type: string
        delayMin:
          description: Number of minutes that MongoDB Cloud waits after detecting an alert condition before it sends out the first notification.
          format: int32
          type: integer
        integrationId:
          description: The id of the associated integration, the credentials of which to use for requests.
          example: 32b6e34b3d91647abb20e7b8
          type: string
        intervalMin:
          description: 'Number of minutes to wait between successive notifications. MongoDB Cloud sends notifications until someone acknowledges the unacknowledged alert.


            PagerDuty, VictorOps, and OpsGenie notifications don''t return this element. Configure and manage the notification interval within each of those services.'
          format: int32
          minimum: 5
          type: integer
        notifierId:
          description: The `notifierId` is a system-generated unique identifier assigned to each notification method. This is needed when updating third-party notifications without requiring explicit authentication credentials.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
        typeName:
          description: Human-readable label that displays the alert notification type.
          enum:
          - SLACK
          type: string
      required:
      - typeName
      title: Slack Notification
      type: object
    RawMetricUnits:
      default: RAW
      description: Element used to express the quantity. This can be an element of time, storage capacity, and the like.
      enum:
      - RAW
      title: Raw Metric Units
      type: string
    AlertsToggle:
      description: Enables or disables the specified alert configuration in the specified project.
      properties:
        enabled:
          description: Flag that indicates whether to enable or disable the specified alert configuration in the specified project.
          type: boolean
      title: Toggle Request
      type: object
    CacheBytesWrittenFromDataMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/DataMetricUnits'
      required:
      - metricName
      type: object
    CursorsTotalOpenRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    GlobalPageFaultExceptionsThrownRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    CpsBackupEventTypeViewForNdsGroupAlertableWithThreshold:
      description: Event type that triggers an alert.
      enum:
      - CPS_SNAPSHOT_BEHIND
      - CPS_PREV_SNAPSHOT_OLD
      - CPS_OPLOG_BEHIND
      example: CPS_SNAPSHOT_BEHIND
      externalDocs:
        description: Atlas Alert Event Types
        url: https://www.mongodb.com/docs/atlas/reference/atlas-alert-event-types/
      title: Cps Backup Event Type
      type: string
    QueryExecutorScannedRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    HostMetricThreshold:
      description: Threshold for the metric that, when exceeded, triggers an alert. The metric threshold pertains to event types which reflects changes of measurements and metrics about mongod host.
      discriminator:
        mapping:
          ASSERT_MSG: '#/components/schemas/AssertMsgRawMetricThresholdView'
          ASSERT_REGULAR: '#/components/schemas/AssertRegularRawMetricThresholdView'
          ASSERT_USER: '#/components/schemas/AssertUserRawMetricThresholdView'
          ASSERT_WARNING: '#/components/schemas/AssertWarningRawMetricThresholdView'
          AVG_COMMAND_EXECUTION_TIME: '#/components/schemas/AvgCommandExecutionTimeTimeMetricThresholdView'
          AVG_READ_EXECUTION_TIME: '#/components/schemas/AvgReadExecutionTimeTimeMetricThresholdView'
          AVG_WRITE_EXECUTION_TIME: '#/components/schemas/AvgWriteExecutionTimeTimeMetricThresholdView'
          BACKGROUND_FLUSH_AVG: '#/components/schemas/TimeMetricThresholdView'
          CACHE_BYTES_READ_INTO: '#/components/schemas/CacheBytesReadIntoDataMetricThresholdView'
          CACHE_BYTES_WRITTEN_FROM: '#/components/schemas/CacheBytesWrittenFromDataMetricThresholdView'
          CACHE_USAGE_DIRTY: '#/components/schemas/CacheUsageDirtyDataMetricThresholdView'
          CACHE_USAGE_USED: '#/components/schemas/CacheUsageUsedDataMetricThresholdView'
          COMPUTED_MEMORY: '#/components/schemas/ComputedMemoryDataMetricThresholdView'
          CONNECTIONS: '#/components/schemas/ConnectionsRawMetricThresholdView'
          CONNECTIONS_MAX: '#/components/schemas/ConnectionsMaxRawMetricThresholdView'
          CONNECTIONS_PERCENT: '#/components/schemas/ConnectionsPercentRawMetricThresholdView'
          CURSORS_TOTAL_CLIENT_CURSORS_SIZE: '#/components/schemas/CursorsTotalClientCursorsSizeRawMetricThresholdView'
          CURSORS_TOTAL_OPEN: '#/components/schemas/CursorsTotalOpenRawMetricThresholdView'
          CURSORS_TOTAL_TIMED_OUT: '#/components/schemas/CursorsTotalTimedOutRawMetricThresholdView'
          DB_DATA_SIZE_TOTAL: '#/components/schemas/DbDataSizeTotalDataMetricThresholdView'
          DB_DATA_SIZE_TOTAL_WO_SYSTEM: '#/components/schemas/DbDataSizeTotalWoSystemDataMetricThresholdView'
          DB_INDEX_SIZE_TOTAL: '#/components/schemas/DbIndexSizeTotalDataMetricThresholdView'
          DB_STORAGE_TOTAL: '#/components/schemas/DbStorageTotalDataMetricThresholdView'
          DISK_PARTITION_QUEUE_DEPTH_DATA: '#/components/schemas/DiskPartitionQueueDepthDataRawMetricThresholdView'
          DISK_PARTITION_QUEUE_DEPTH_INDEX: '#/components/schemas/DiskPartitionQueueDepthIndexRawMetricThresholdView'
          DISK_PARTITION_QUEUE_DEPTH_JOURNAL: '#/components/schemas/DiskPartitionQueueDepthJournalRawMetricThresholdView'
          DISK_PARTITION_READ_IOPS_DATA: '#/components/schemas/DiskPartitionReadIopsDataRawMetricThresholdView'
          DISK_PARTITION_READ_IOPS_INDEX: '#/components/schemas/DiskPartitionReadIopsIndexRawMetricThresholdView'
          DISK_PARTITION_READ_IOPS_JOURNAL: '#/components/schemas/DiskPartitionReadIopsJournalRawMetricThresholdView'
          DISK_PARTITION_READ_LATENCY_DATA: '#/components/schemas/DiskPartitionReadLatencyDataTimeMetricThresholdView'
          DISK_PARTITION_READ_LATENCY_INDEX: '#/components/schemas/DiskPartitionReadLatencyIndexTimeMetricThresholdView'
          DISK_PARTITION_READ_LATENCY_JOURNAL: '#/components/schemas/DiskPartitionReadLatencyJournalTimeMetricThresholdView'
          DISK_PARTITION_SPACE_USED_DATA: '#/components/schemas/DiskPartitionSpaceUsedDataRawMetricThresholdView'
          DISK_PARTITION_SPACE_USED_INDEX: '#/components/schemas/DiskPartitionSpaceUsedIndexRawMetricThresholdView'
          DISK_PARTITION_SPACE_USED_JOURNAL: '#/components/schemas/DiskPartitionSpaceUsedJournalRawMetricThresholdView'
          DISK_PARTITION_WRITE_IOPS_DATA: '#/components/schemas/DiskPartitionWriteIopsDataRawMetricThresholdView'
          DISK_PARTITION_WRITE_IOPS_INDEX: '#/components/schemas/DiskPartitionWriteIopsIndexRawMetricThresholdView'
          DISK_PARTITION_WRITE_IOPS_JOURNAL: '#/components/schemas/DiskPartitionWriteIopsJournalRawMetricThresholdView'
          DISK_PARTITION_WRITE_LATENCY_DATA: '#/components/schemas/DiskPartitionWriteLatencyDataTimeMetricThresholdView'
          DISK_PARTITION_WRITE_LATENCY_INDEX: '#/components/schemas/DiskPartitionWriteLatencyIndexTimeMetricThresholdView'
          DISK_PARTITION_WRITE_LATENCY_JOURNAL: '#/components/schemas/DiskPartitionWriteLatencyJournalTimeMetricThresholdView'
          DOCUMENT_DELETED: '#/components/schemas/DocumentDeletedRawMetricThresholdView'
          DOCUMENT_INSERTED: '#/components/schemas/DocumentInsertedRawMetricThresholdView'
          DOCUMENT_RETURNED: '#/components/schemas/DocumentReturnedRawMetricThresholdView'
          DOCUMENT_UPDATED: '#/components/schemas/DocumentUpdatedRawMetricThresholdView'
          EXTRA_INFO_PAGE_FAULTS: '#/components/schemas/ExtraInfoPageFaultsRawMetricThresholdView'
          FTS_DISK_UTILIZATION: '#/components/schemas/FtsDiskUtilizationDataMetricThresholdView'
          FTS_JVM_CURRENT_MEMORY: '#/components/schemas/FtsJvmCurrentMemoryDataMetricThresholdView'
          FTS_JVM_MAX_MEMORY: '#/components/schemas/FtsJvmMaxMemoryDataMetricThresholdView'
          FTS_MEMORY_MAPPED: '#/components/schemas/FtsMemoryMappedDataMetricThresholdView'
          FTS_MEMORY_RESIDENT: '#/components/schemas/FtsMemoryResidentDataMetricThresholdView'
          FTS_MEMORY_VIRTUAL: '#/components/schemas/FtsMemoryVirtualDataMetricThresholdView'
          FTS_PROCESS_CPU_KERNEL: '#/components/schemas/FtsProcessCpuKernelRawMetricThresholdView'
          FTS_PROCESS_CPU_USER: '#/components/schemas/FtsProcessCpuUserRawMetricThresholdView'
          GLOBAL_ACCESSES_NOT_IN_MEMORY: '#/components/schemas/GlobalAccessesNotInMemoryRawMetricThresholdView'
          GLOBAL_LOCK_CURRENT_QUEUE_READERS: '#/components/schemas/GlobalLockCurrentQueueReadersRawMetricThresholdView'
          GLOBAL_LOCK_CURRENT_QUEUE_TOTAL: '#/components/schemas/GlobalLockCurrentQueueTotalRawMetricThresholdView'
          GLOBAL_LOCK_CURRENT_QUEUE_WRITERS: '#/components/schemas/GlobalLockCurrentQueueWritersRawMetricThresholdView'
          GLOBAL_LOCK_PERCENTAGE: '#/components/schemas/GlobalLockPercentageRawMetricThresholdView'
          GLOBAL_PAGE_FAULT_EXCEPTIONS_THROWN: '#/components/schemas/GlobalPageFaultExceptionsThrownRawMetricThresholdView'
          INDEX_COUNTERS_BTREE_ACCESSES: '#/components/schemas/IndexCountersBtreeAccessesRawMetricThresholdView'
          INDEX_COUNTERS_BTREE_HITS: '#/components/schemas/IndexCountersBtreeHitsRawMetricThresholdView'
          INDEX_COUNTERS_BTREE_MISSES: '#/components/schemas/IndexCountersBtreeMissesRawMetricThresholdView'
          INDEX_COUNTERS_BTREE_MISS_RATIO: '#/components/schemas/IndexCountersBtreeMissRatioRawMetricThresholdView'
          JOURNALING_COMMITS_IN_WRITE_LOCK: '#/components/schemas/JournalingCommitsInWriteLockRawMetricThresholdView'
          JOURNALING_MB: '#/components/schemas/JournalingMbDataMetricThresholdView'
          JOURNALING_WRITE_DATA_FILES_MB: '#/components/schemas/JournalingWriteDataFilesMbDataMetricThresholdView'
          LOGICAL_SIZE: '#/components/schemas/LogicalSizeDataMetricThresholdView'
          MAX_DISK_PARTITION_QUEUE_DEPTH_DATA: '#/components/schemas/MaxDiskPartitionQueueDepthDataRawMetricThresholdView'
          MAX_DISK_PARTITION_QUEUE_DEPTH_INDEX: '#/components/schemas/MaxDiskPartitionQueueDepthIndexRawMetricThresholdView'
          MAX_DISK_PARTITION_QUEUE_DEPTH_JOURNAL: '#/components/schemas/MaxDiskPartitionQueueDepthJournalRawMetricThresholdView'
          MAX_DISK_PARTITION_READ_IOPS_DATA: '#/components/schemas/MaxDiskPartitionReadIopsDataRawMetricThresholdView'
          MAX_DISK_PARTITION_READ_IOPS_INDEX: '#/components/schemas/MaxDiskPartitionReadIopsIndexRawMetricThresholdView'
          MAX_DISK_PARTITION_READ_IOPS_JOURNAL: '#/components/schemas/MaxDiskPartitionReadIopsJournalRawMetricThresholdView'
          MAX_DISK_PARTITION_READ_LATENCY_DATA: '#/components/schemas/MaxDiskPartitionReadLatencyDataTimeMetricThresholdView'
          MAX_DISK_PARTITION_READ_LATENCY_INDEX: '#/components/schemas/MaxDiskPartitionReadLatencyIndexTimeMetricThresholdView'
          MAX_DISK_PARTITION_READ_LATENCY_JOURNAL: '#/components/schemas/MaxDiskPartitionReadLatencyJournalTimeMetricThresholdView'
          MAX_DISK_PARTITION_SPACE_USED_DATA: '#/components/schemas/MaxDiskPartitionSpaceUsedDataRawMetricThresholdView'
          MAX_DISK_PARTITION_SPACE_USED_INDEX: '#/components/schemas/MaxDiskPartitionSpaceUsedIndexRawMetricThresholdView'
          MAX_DISK_PARTITION_SPACE_USED_JOURNAL: '#/components/schemas/MaxDiskPartitionSpaceUsedJournalRawMetricThresholdView'
          MAX_DISK_PARTITION_WRITE_IOPS_DATA: '#/components/schemas/MaxDiskPartitionWriteIopsDataRawMetricThresholdView'
          MAX_DISK_PARTITION_WRITE_IOPS_INDEX: '#/components/schemas/MaxDiskPartitionWriteIopsIndexRawMetricThresholdView'
          MAX_DISK_PARTITION_WRITE_IOPS_JOURNAL: '#/components/schemas/MaxDiskPartitionWriteIopsJournalRawMetricThresholdView'
          MAX_DISK_PARTITION_WRITE_LATENCY_DATA: '#/components/schemas/MaxDiskPartitionWriteLatencyDataTimeMetricThresholdView'
          MAX_DISK_PARTITION_WRITE_LATENCY_INDEX: '#/components/schemas/MaxDiskPartitionWriteLatencyIndexTimeMetricThresholdView'
          MAX_DISK_PARTITION_WRITE_LATENCY_JOURNAL: '#/components/schemas/MaxDiskPartitionWriteLatencyJournalTimeMetricThresholdView'
          MAX_NORMALIZED_SYSTEM_CPU_STEAL: '#/components/schemas/MaxNormalizedSystemCpuStealRawMetricThresholdView'
          MAX_NORMALIZED_SYSTEM_CPU_USER: '#/components/schemas/MaxNormalizedSystemCpuUserRawMetricThresholdView'
          MAX_SWAP_USAGE_FREE: '#/components/schemas/MaxSwapUsageFreeDataMetricThresholdView'
          MAX_SWAP_USAGE_USED: '#/components/schemas/MaxSwapUsageUsedDataMetricThresholdView'
          MAX_SYSTEM_MEMORY_AVAILABLE: '#/components/schemas/MaxSystemMemoryAvailableDataMetricThresholdView'
          MAX_SYSTEM_MEMORY_PERCENT_USED: '#/components/schemas/MaxSystemMemoryPercentUsedRawMetricThresholdView'
          MAX_SYSTEM_MEMORY_USED: '#/components/schemas/MaxSystemMemoryUsedDataMetricThresholdView'
          MAX_SYSTEM_NETWORK_IN: '#/components/schemas/MaxSystemNetworkInDataMetricThresholdView'
          MAX_SYSTEM_NETWORK_OUT: '#/components/schemas/MaxSystemNetworkOutDataMetricThresholdView'
          MEMORY_MAPPED: '#/components/schemas/MemoryMappedDataMetricThresholdView'
          MEMORY_RESIDENT: '#/components/schemas/MemoryResidentDataMetricThresholdView'
          MEMORY_VIRTUAL: '#/components/schemas/MemoryVirtualDataMetricThresholdView'
          MUNIN_CPU_IOWAIT: '#/components/schemas/MuninCpuIowaitRawMetricThresholdView'
          MUNIN_CPU_IRQ: '#/components/schemas/MuninCpuIrqRawMetricThresholdView'
          MUNIN_CPU_NICE: '#/components/schemas/MuninCpuNiceRawMetricThresholdView'
          MUNIN_CPU_SOFTIRQ: '#/components/schemas/MuninCpuSoftirqRawMetricThresholdView'
          MUNIN_CPU_STEAL: '#/components/schemas/MuninCpuStealRawMetricThresholdView'
          MUNIN_CPU_SYSTEM: '#/components/schemas/MuninCpuSystemRawMetricThresholdView'
          MUNIN_CPU_USER: '#/components/schemas/MuninCpuUserRawMetricThresholdView'
          NETWORK_BYTES_IN: '#/components/schemas/NetworkBytesInDataMetricThresholdView'
          NETWORK_BYTES_OUT: '#/components/schemas/NetworkBytesOutDataMetricThresholdView'
          NETWORK_NUM_REQUESTS: '#/components/schemas/NetworkNumRequestsRawMetricThresholdView'
          NORMALIZED_FTS_PROCESS_CPU_KERNEL: '#/components/schemas/NormalizedFtsProcessCpuKernelRawMetricThresholdView'
          NORMALIZED_FTS_PROCESS_CPU_USER: '#/components/schemas/NormalizedFtsProcessCpuUserRawMetricThresholdView'
          NORMALIZED_SYSTEM_CPU_STEAL: '#/components/schemas/NormalizedSystemCpuStealRawMetricThresholdView'
          NORMALIZED_SYSTEM_CPU_USER: '#/components/schemas/NormalizedSystemCpuUserRawMetricThresholdView'
          OPCOUNTER_CMD: '#/components/schemas/OpCounterCmdRawMetricThresholdView'
          OPCOUNTER_DELETE: '#/components/schemas/OpCounterDeleteRawMetricThresholdView'
          OPCOUNTER_GETMORE: '#/components/schemas/OpCounterGetMoreRawMetricThresholdView'
          OPCOUNTER_INSERT: '#/components/schemas/OpCounterInsertRawMetricThresholdView'
          OPCOUNTER_QUERY: '#/components/schemas/OpCounterQueryRawMetricThresholdView'
          OPCOUNTER_REPL_CMD: '#/components/schemas/OpCounterReplCmdRawMetricThresholdView'
          OPCOUNTER_REPL_DELETE: '#/components/schemas/OpCounterReplDeleteRawMetricThresholdView'
          OPCOUNTER_REPL_INSERT: '#/components/schemas/OpCounterReplInsertRawMetricThresholdView'
          OPCOUNTER_REPL_UPDATE: '#/components/schemas/OpCounterReplUpdateRawMetricThresholdView'
          OPCOUNTER_TTL_DELETED: '#/components/schemas/OpCounterTtlDeletedRawMetricThresholdView'
          OPCOUNTER_UPDATE: '#/components/schemas/OpCounterUpdateRawMetricThresholdView'
          OPERATIONS_QUERIES_KILLED: '#/components/schemas/OperationsQueriesKilledRawMetricThresholdView'
          OPERATIONS_SCAN_AND_ORDER: '#/components/schemas/OperationsScanAndOrderRawMetricThresholdView'
          OPERATION_THROTTLING_REJECTED_OPERATIONS: '#/components/schemas/OperationThrottlingRejectedOperationsRawMetricThresholdView'
          OPLOG_MASTER_LAG_TIME_DIFF: '#/components/schemas/OplogMasterLagTimeDiffTimeMetricThresholdView'
          OPLOG_MASTER_TIME: '#/components/schemas/OplogMasterTimeTimeMetricThresholdView'
          OPLOG_MASTER_TIME_ESTIMATED_TTL: '#/components/schemas/OplogMasterTimeEstimatedTtlTimeMetricThresholdView'
          OPLOG_RATE_GB_PER_HOUR: '#/components/schemas/OplogRateGbPerHourDataMetricThresholdView'
          OPLOG_SLAVE_LAG_MASTER_TIME: '#/components/schemas/OplogSlaveLagMasterTimeTimeMetricThresholdView'
          QUERY_EXECUTOR_SCANNED: '#/components/schemas/QueryExecutorScannedRawMetricThresholdView'
          QUERY_EXECUTOR_SCANNED_OBJECTS: '#/components/schemas/QueryExecutorScannedObjectsRawMetricThresholdView'
          QUERY_SPILL_TO_DISK_DURING_SORT: '#/components/schemas/QuerySpillToDiskDuringSortRawMetricThresholdView'
          QUERY_TARGETING_SCANNED_OBJECTS_PER_RETURNED: '#/components/schemas/QueryTargetingScannedObjectsPerReturnedRawMetricThresholdView'
          QUERY_TARGETING_SCANNED_PER_RETURNED: '#/components/schemas/QueryTargetingScannedPerReturnedRawMetricThresholdView'
          RESTARTS_IN_LAST_HOUR: '#/components/schemas/RestartsInLastHourRawMetricThresholdView'
          SEARCH_INDEX_SIZE: '#/components/schemas/SearchIndexSizeDataMetricThresholdView'
          SEARCH_MAX_FIELDS_INDEXED: '#/components/schemas/SearchMaxFieldsIndexedRawMetricThresholdView'
          SEARCH_MAX_NGRAM_FIELDS_INDEXED: '#/components/schemas/SearchMaxNgramFieldsIndexedRawMetricThresholdView'
          SEARCH_MAX_NUMBER_OF_LUCENE_DOCS: '#/components/schemas/NumberMetricThresholdView'
          SEARCH_NUMBER_OF_FIELDS_IN_INDEX: '#/components/schemas/SearchNumberOfFieldsInIndexRawMetricThresholdView'
          SEARCH_NUMBER_OF_QUERIES_ERROR: '#/components/schemas/SearchNumberOfQueriesErrorRawMetricThresholdView'
          SEARCH_NUMBER_OF_QUERIES_SUCCESS: '#/components/schemas/SearchNumberOfQueriesSuccessRawMetricThresholdView'
          SEARCH_NUMBER_OF_QUERIES_TOTAL: '#/components/schemas/SearchNumberOfQueriesTotalRawMetricThresholdView'
          SEARCH_OPCOUNTER_DELETE: '#/components/schemas/SearchOpCounterDeleteRawMetricThresholdView'
          SEARCH_OPCOUNTER_GETMORE: '#/components/schemas/SearchOpCounterGetMoreRawMetricThresholdView'
          SEARCH_OPCOUNTER_INSERT: '#/components/schemas/SearchOpCounterInsertRawMetricThresholdView'
          SEARCH_OPCOUNTER_UPDATE: '#/components/schemas/SearchOpCounterUpdateRawMetricThresholdView'
          SEARCH_PROCESS_THROTTLING: '#/components/schemas/SearchProcessThrottlingRawMetricThresholdView'
          SEARCH_REPLICATION_LAG: '#/components/schemas/SearchReplicationLagTimeMetricThresholdView'
          SWAP_USAGE_FREE: '#/components/schemas/SwapUsageFreeDataMetricThresholdView'
          SWAP_USAGE_USED: '#/components/schemas/SwapUsageUsedDataMetricThresholdView'
          SYSTEM_MEMORY_AVAILABLE: '#/components/schemas/SystemMemoryAvailableDataMetricThresholdView'
          SYSTEM_MEMORY_PERCENT_USED: '#/components/schemas/SystemMemoryPercentUsedRawMetricThresholdView'
          SYSTEM_MEMORY_USED: '#/components/schemas/SystemMemoryUsedDataMetricThresholdView'
          SYSTEM_NETWORK_IN: '#/components/schemas/SystemNetworkInDataMetricThresholdView'
          SYSTEM_NETWORK_OUT: '#/components/schemas/SystemNetworkOutDataMetricThresholdView'
          TICKETS_AVAILABLE_READS: '#/components/schemas/TicketsAvailableReadsRawMetricThresholdView'
          TICKETS_AVAILABLE_WRITES: '#/components/schemas/TicketsAvailableWritesRawMetricThresholdView'
        propertyName: metricName
      oneOf:
      - $ref: '#/components/schemas/AssertRegularRawMetricThresholdView'
      - $ref: '#/components/schemas/AssertWarningRawMetricThresholdView'
      - $ref: '#/components/schemas/AssertMsgRawMetricThresholdView'
      - $ref: '#/components/schemas/AssertUserRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterCmdRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterQueryRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterUpdateRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterDeleteRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterTtlDeletedRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterInsertRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterGetMoreRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterReplCmdRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterReplUpdateRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterReplDeleteRawMetricThresholdView'
      - $ref: '#/components/schemas/OpCounterReplInsertRawMetricThresholdView'
      - $ref: '#/components/schemas/FtsMemoryResidentDataMetricThresholdView'
      - $ref: '#/components/schemas/FtsMemoryVirtualDataMetricThresholdView'
      - $ref: '#/components/schemas/FtsMemoryMappedDataMetricThresholdView'
      - $ref: '#/components/schemas/FtsProcessCpuUserRawMetricThresholdView'
      - $ref: '#/components/schemas/FtsProcessCpuKernelRawMetricThresholdView'
      - $ref: '#/components/schemas/NormalizedFtsProcessCpuUserRawMetricThresholdView'
      - $ref: '#/components/schemas/NormalizedFtsProcessCpuKernelRawMetricThresholdView'
      - $ref: '#/components/schemas/SystemMemoryPercentUsedRawMetricThresholdView'
      - $ref: '#/components/schemas/MemoryResidentDataMetricThresholdView'
      - $ref: '#/components/schemas/MemoryVirtualDataMetricThresholdView'
      - $ref: '#/components/schemas/MemoryMappedDataMetricThresholdView'
      - $ref: '#/components/schemas/ComputedMemoryDataMetricThresholdView'
      - $ref: '#/components/schemas/IndexCountersBtreeAccessesRawMetricThresholdView'
      - $ref: '#/components/schemas/IndexCountersBtreeHitsRawMetricThresholdView'
      - $ref: '#/components/schemas/IndexCountersBtreeMissesRawMetricThresholdView'
      - $ref: '#/components/schemas/IndexCountersBtreeMissRatioRawMetricThresholdView'
      - $ref: '#/components/schemas/GlobalLockPercentageRawMetricThresholdView'
      - $ref: '#/components/schemas/TimeMetricThresholdView'
      - $ref: '#/components/schemas/ConnectionsRawMetricThresholdView'
      - $ref: '#/components/schemas/ConnectionsMaxRawMetricThresholdView'
      - $ref: '#/components/schemas/ConnectionsPercentRawMetricThresholdView'
      - $ref: '#/components/schemas/GlobalAccessesNotInMemoryRawMetricThresholdView'
      - $ref: '#/components/schemas/GlobalPageFaultExceptionsThrownRawMetricThresholdView'
      - $ref: '#/components/schemas/GlobalLockCurrentQueueTotalRawMetricThresholdView'
      - $ref: '#/components/schemas/GlobalLockCurrentQueueReadersRawMetricThresholdView'
      - $ref: '#/components/schemas/GlobalLockCurrentQueueWritersRawMetricThresholdView'
      - $ref: '#/components/schemas/CursorsTotalOpenRawMetricThresholdView'
      - $ref: '#/components/schemas/CursorsTotalTimedOutRawMetricThresholdView'
      - $ref: '#/components/schemas/CursorsTotalClientCursorsSizeRawMetricThresholdView'
      - $ref: '#/components/schemas/NetworkBytesInDataMetricThresholdView'
      - $ref: '#/components/schemas/NetworkBytesOutDataMetricThresholdView'
      - $ref: '#/components/schemas/NetworkNumRequestsRawMetricThresholdView'
      - $ref: '#/components/schemas/OplogMasterTimeTimeMetricThresholdView'
      - $ref: '#/components/schemas/OplogMasterTimeEstimatedTtlTimeMetricThresholdView'
      - $ref: '#/components/schemas/OplogSlaveLagMasterTimeTimeMetricThresholdView'
      - $ref: '#/components/schemas/OplogMasterLagTimeDiffTimeMetricThresholdView'
      - $ref: '#/components/schemas/OplogRateGbPerHourDataMetricThresholdView'
      - $ref: '#/components/schemas/ExtraInfoPageFaultsRawMetricThresholdView'
      - $ref: '#/components/schemas/DbStorageTotalDataMetricThresholdView'
      - $ref: '#/components/schemas/DbDataSizeTotalDataMetricThresholdView'
      - $ref: '#/components/schemas/DbDataSizeTotalWoSystemDataMetricThresholdView'
      - $ref: '#/components/schemas/DbIndexSizeTotalDataMetricThresholdView'
      - $ref: '#/components/schemas/JournalingCommitsInWriteLockRawMetricThresholdView'
      - $ref: '#/components/schemas/JournalingMbDataMetricThresholdView'
      - $ref: '#/components/schemas/JournalingWriteDataFilesMbDataMetricThresholdView'
      - $ref: '#/components/schemas/TicketsAvailableReadsRawMetricThresholdView'
      - $ref: '#/components/schemas/TicketsAvailableWritesRawMetricThresholdView'
      - $ref: '#/components/schemas/CacheUsageDirtyDataMetricThresholdView'
      - $ref: '#/components/schemas/CacheUsageUsedDataMetricThresholdView'
      - $ref: '#/components/schemas/CacheBytesReadIntoDataMetricThresholdView'
      - $ref: '#/components/schemas/CacheBytesWrittenFromDataMetricThresholdView'
      - $ref: '#/components/schemas/NormalizedSystemCpuUserRawMetricThresholdView'
      - $ref: '#/components/schemas/NormalizedSystemCpuStealRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionSpaceUsedDataRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionSpaceUsedIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionSpaceUsedJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionReadIopsDataRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionReadIopsIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionReadIopsJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionWriteIopsDataRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionWriteIopsIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionWriteIopsJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionReadLatencyDataTimeMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionReadLatencyIndexTimeMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionReadLatencyJournalTimeMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionWriteLatencyDataTimeMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionWriteLatencyIndexTimeMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionWriteLatencyJournalTimeMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionQueueDepthDataRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionQueueDepthIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/DiskPartitionQueueDepthJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/FtsDiskUtilizationDataMetricThresholdView'
      - $ref: '#/components/schemas/MuninCpuUserRawMetricThresholdView'
      - $ref: '#/components/schemas/MuninCpuNiceRawMetricThresholdView'
      - $ref: '#/components/schemas/MuninCpuSystemRawMetricThresholdView'
      - $ref: '#/components/schemas/MuninCpuIowaitRawMetricThresholdView'
      - $ref: '#/components/schemas/MuninCpuIrqRawMetricThresholdView'
      - $ref: '#/components/schemas/MuninCpuSoftirqRawMetricThresholdView'
      - $ref: '#/components/schemas/MuninCpuStealRawMetricThresholdView'
      - $ref: '#/components/schemas/DocumentReturnedRawMetricThresholdView'
      - $ref: '#/components/schemas/DocumentInsertedRawMetricThresholdView'
      - $ref: '#/components/schemas/DocumentUpdatedRawMetricThresholdView'
      - $ref: '#/components/schemas/DocumentDeletedRawMetricThresholdView'
      - $ref: '#/components/schemas/OperationsScanAndOrderRawMetricThresholdView'
      - $ref: '#/components/schemas/QueryExecutorScannedRawMetricThresholdView'
      - $ref: '#/components/schemas/QueryExecutorScannedObjectsRawMetricThresholdView'
      - $ref: '#/components/schemas/OperationThrottlingRejectedOperationsRawMetricThresholdView'
      - $ref: '#/components/schemas/QuerySpillToDiskDuringSortRawMetricThresholdView'
      - $ref: '#/components/schemas/OperationsQueriesKilledRawMetricThresholdView'
      - $ref: '#/components/schemas/QueryTargetingScannedPerReturnedRawMetricThresholdView'
      - $ref: '#/components/schemas/QueryTargetingScannedObjectsPerReturnedRawMetricThresholdView'
      - $ref: '#/components/schemas/AvgReadExecutionTimeTimeMetricThresholdView'
      - $ref: '#/components/schemas/AvgWriteExecutionTimeTimeMetricThresholdView'
      - $ref: '#/components/schemas/AvgCommandExecutionTimeTimeMetricThresholdView'
      - $ref: '#/components/schemas/LogicalSizeDataMetricThresholdView'
      - $ref: '#/components/schemas/RestartsInLastHourRawMetricThresholdView'
      - $ref: '#/components/schemas/SystemMemoryUsedDataMetricThresholdView'
      - $ref: '#/components/schemas/SystemMemoryAvailableDataMetricThresholdView'
      - $ref: '#/components/schemas/SwapUsageUsedDataMetricThresholdView'
      - $ref: '#/components/schemas/SwapUsageFreeDataMetricThresholdView'
      - $ref: '#/components/schemas/SystemNetworkInDataMetricThresholdView'
      - $ref: '#/components/schemas/SystemNetworkOutDataMetricThresholdView'
      - $ref: '#/components/schemas/MaxNormalizedSystemCpuUserRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxNormalizedSystemCpuStealRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionSpaceUsedDataRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionSpaceUsedIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionSpaceUsedJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionReadIopsDataRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionReadIopsIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionReadIopsJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionWriteIopsDataRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionWriteIopsIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionWriteIopsJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionReadLatencyDataTimeMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionReadLatencyIndexTimeMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionReadLatencyJournalTimeMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionWriteLatencyDataTimeMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionWriteLatencyIndexTimeMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionWriteLatencyJournalTimeMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionQueueDepthDataRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionQueueDepthIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxDiskPartitionQueueDepthJournalRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxSystemMemoryPercentUsedRawMetricThresholdView'
      - $ref: '#/components/schemas/MaxSystemMemoryUsedDataMetricThresholdView'
      - $ref: '#/components/schemas/MaxSystemMemoryAvailableDataMetricThresholdView'
      - $ref: '#/components/schemas/MaxSwapUsageUsedDataMetricThresholdView'
      - $ref: '#/components/schemas/MaxSwapUsageFreeDataMetricThresholdView'
      - $ref: '#/components/schemas/MaxSystemNetworkInDataMetricThresholdView'
      - $ref: '#/components/schemas/MaxSystemNetworkOutDataMetricThresholdView'
      - $ref: '#/components/schemas/SearchIndexSizeDataMetricThresholdView'
      - $ref: '#/components/schemas/SearchMaxFieldsIndexedRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchProcessThrottlingRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchNumberOfFieldsInIndexRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchMaxNgramFieldsIndexedRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchReplicationLagTimeMetricThresholdView'
      - $ref: '#/components/schemas/NumberMetricThresholdView'
      - $ref: '#/components/schemas/SearchOpCounterInsertRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchOpCounterDeleteRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchOpCounterUpdateRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchOpCounterGetMoreRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchNumberOfQueriesTotalRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchNumberOfQueriesErrorRawMetricThresholdView'
      - $ref: '#/components/schemas/SearchNumberOfQueriesSuccessRawMetricThresholdView'
      - $ref: '#/components/schemas/FtsJvmMaxMemoryDataMetricThresholdView'
      - $ref: '#/components/schemas/FtsJvmCurrentMemoryDataMetricThresholdView'
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          description: Element used to express the quantity. This can be an element of time, storage capacity, and the like.
          enum:
          - bits
          - Kbits
          - Mbits
          - Gbits
          - bytes
          - KB
          - MB
          - GB
          - TB
          - PB
          - nsec
          - msec
          - sec
          - min
          - hours
          - million minutes
          - days
          - requests
          - 1000 requests
          - tokens
          - million tokens
          - pixels
          - billion pixels
          - GB seconds
          - GB hours
          - GB days
          - RPU
          - thousand RPU
          - million RPU
          - WPU
          - thousand WPU
          - million WPU
          - count
          - thousand
          - million
          - billion
          type: string
      required:
      - metricName
      title: Host Metric Threshold
      type: object
    ClusterMatcher:
      description: Rules to apply when comparing an cluster against this alert configuration.
      properties:
        fieldName:
          $ref: '#/components/schemas/ClusterMatcherField'
        operator:
          description: Comparison operator to apply when checking the current metric value against **matcher[n].value**. The `REGEX` operator only supports inclusive matches. Use the `NOT_CONTAINS` operator to exclude values.
          enum:
          - EQUALS
          - CONTAINS
          - STARTS_WITH
          - ENDS_WITH
          - NOT_EQUALS
          - NOT_CONTAINS
          - REGEX
          type: string
        value:
          description: Value to match or exceed using the specified `matchers.operator`.
          example: event-replica-set
          type: string
      required:
      - fieldName
      - operator
      - value
      title: Matchers
      type: object
    MaxSwapUsageUsedDataMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/DataMetricUnits'
      required:
      - metricName
      type: object
    ServerlessConnectionPercentageRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    VictorOpsNotification:
      description: VictorOps notification configuration for MongoDB Cloud to send information when an event triggers an alert condition.
      properties:
        delayMin:
          description: Number of minutes that MongoDB Cloud waits after detecting an alert condition before it sends out the first notification.
          format: int32
          type: integer
        integrationId:
          description: The id of the associated integration, the credentials of which to use for requests.
          example: 32b6e34b3d91647abb20e7b8
          type: string
        intervalMin:
          description: 'Number of minutes to wait between successive notifications. MongoDB Cloud sends notifications until someone acknowledges the unacknowledged alert.


            PagerDuty, VictorOps, and OpsGenie notifications don''t return this element. Configure and manage the notification interval within each of those services.'
          format: int32
          minimum: 5
          type: integer
        notifierId:
          description: The `notifierId` is a system-generated unique identifier assigned to each notification method. This is needed when updating third-party notifications without requiring explicit authentication credentials.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
        typeName:
          description: Human-readable label that displays the alert notification type.
          enum:
          - VICTOR_OPS
          type: string
        victorOpsApiKey:
          description: 'API key that MongoDB Cloud needs to send alert notifications to Splunk On-Call. The resource requires this parameter when `"notifications.[n].typeName" : "VICTOR_OPS"`. If the key later becomes invalid, MongoDB Cloud sends an email to the project owners. If the key remains invalid, MongoDB Cloud removes it.


            **NOTE**: After you create a notification which requires an API or integration key, the key appears partially redacted when you:


            * View or edit the alert through the Atlas UI.


            * Query the alert for the notification through the Atlas Administration API.'
          example: '********************************9abc'
          type: string
        victorOpsRoutingKey:
          description: 'Routing key that MongoDB Cloud needs to send alert notifications to Splunk On-Call. The resource requires this parameter when `"notifications.[n].typeName" : "VICTOR_OPS"`. If the key later becomes invalid, MongoDB Cloud sends an email to the project owners. If the key remains invalid, MongoDB Cloud removes it.'
          example: test routing
          type: string
      required:
      - typeName
      title: VictorOps Notification
      type: object
    MaxDiskPartitionWriteLatencyIndexTimeMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/TimeMetricUnits'
      required:
      - metricName
      type: object
    FlexOpCounterInsertRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    ClusterMatcherField:
      description: Name of the parameter in the target object that MongoDB Cloud checks. The parameter must match all rules for MongoDB Cloud to check for alert configurations.
      enum:
      - CLUSTER_NAME
      example: CLUSTER_NAME
      title: Cluster Matcher Fields
      type: string
    AssertRegularRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    HostMatcherField:
      description: Name of the parameter in the target object that MongoDB Cloud checks. The parameter must match all rules for MongoDB Cloud to check for alert configurations.
      enum:
      - TYPE_NAME
      - HOSTNAME
      - PORT
      - HOSTNAME_AND_PORT
      - REPLICA_SET_NAME
      - ATLAS_NODE_TYPE
      example: HOSTNAME
      title: Host Matcher Fields
      type: string
    OpCounterReplInsertRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    SearchMaxNgramFieldsIndexedRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    MaxSystemMemoryPercentUsedRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    DocumentDeletedRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/RawMetricUnits'
      required:
      - metricName
      type: object
    CacheUsageDirtyDataMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/DataMetricUnits'
      required:
      - metricName
      type: object
    DeprecatedStreamProcessorMetricThreshold:
      deprecated: true
      description: 'Threshold value that triggers an alert. Deprecated: use `metricThreshold` instead.'
      discriminator:
        mapping:
          STREAM_PROCESSOR_CHANGE_STREAM_LAG: '#/components/schemas/TimeMetricThresholdView'
          STREAM_PROCESSOR_DLQ_MESSAGE_COUNT: '#/components/schemas/DLQRawMetricThresholdView'
          STREAM_PROCESSOR_KAFKA_LAG: '#/components/schemas/KafkaRawMetricThresholdView'
          STREAM_PROCESSOR_OUTPUT_MESSAGE_COUNT: '#/components/schemas/RawMetricThresholdView'
        propertyName: metricName
      oneOf:
      - $ref: '#/components/schemas/KafkaRawMetricThresholdView'
      - $ref: '#/components/schemas/TimeMetricThresholdView'
      - $ref: '#/components/schemas/DLQRawMetricThresholdView'
      - $ref: '#/components/schemas/RawMetricThresholdView'
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          description: Element used to express the quantity. This can be an element of time, storage capacity, and the like.
          enum:
          - bits
          - Kbits
          - Mbits
          - Gbits
          - bytes
          - KB
          - MB
          - GB
          - TB
          - PB
          - nsec
          - msec
          - sec
          - min
          - hours
          - million minutes
          - days
          - requests
          - 1000 requests
          - tokens
          - million tokens
          - pixels
          - billion pixels
          - GB seconds
          - GB hours
          - GB days
          - RPU
          - thousand RPU
          - million RPU
          - WPU
          - thousand WPU
          - million WPU
          - count
          - thousand
          - million
          - billion
          type: string
      required:
      - metricName
      type: object
    OplogSlaveLagMasterTimeTimeMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
          description: Value of metric that, when exceeded, triggers an alert.
          format: double
          type: number
        units:
          $ref: '#/components/schemas/TimeMetricUnits'
      required:
      - metricName
      type: object
    AppServiceEventTypeViewAlertableNoThreshold:
      description: Event type that triggers an alert.
      enum:
      - URL_CONFIRMATION
      - SUCCESSFUL_DEPLOY
      - DEPLOYMENT_FAILURE
      - REQUEST_RATE_LIMIT
      - LOG_FORWARDER_FAILURE
      - SYNC_FAILURE
      - TRIGGER_FAILURE
      - TRIGGER_AUTO_RESUMED
      - DEPLOYMENT_MODEL_CHANGE_SUCCESS
      - DEPLOYMENT_MODEL_CHANGE_FAILURE
      example: DEPLOYMENT_FAILURE
      externalDocs:
        description: Atlas Alert Event Types
        url: https://www.mongodb.com/docs/atlas/reference/atlas-alert-event-types/
      title: App Services Event Types
      type: string
    DocumentUpdatedRawMetricThresholdView:
      properties:
        metricName:
          description: Human-readable label that identifies the metric against which MongoDB Cloud checks the configured `metricThreshold.threshold`.
          type: string
        mode:
          description: MongoDB Cloud computes the current metric value as an average.
          enum:
          - AVERAGE
          type: string
        operator:
          description: Comparison operator to apply when checking the current metric value.
          enum:
          - LESS_THAN
          - GREATER_THAN
          type: string
        threshold:
[...]
