openapi: 3.0.1
info:
  description: "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API supports OAuth2 Service Accounts and HTTP Digest-based API keys. Service accounts are the recommended authentication method and API keys are considered a legacy option.\n\nTo authenticate with a Service Account, first exchange its client ID and secret for an access token using the OAuth 2.0 Client Credentials flow. Atlas provides a token endpoint at `POST https://cloud.mongodb.com/api/oauth/token`, which returns a Bearer token that is reusable and valid for 1 hour (3600 seconds).\n\nFor example, to [return a list of your organizations](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listorgs) with [cURL](https://en.wikipedia.org/wiki/CURL), first generate an access token and then use that token to call the same Atlas Administration API endpoint shown in the current example:\n\n```\nACCESS_TOKEN=$(curl -fsS --request POST https://cloud.mongodb.com/api/oauth/token \\\n  --header \"Authorization: Basic $(printf '%s' \"${CLIENT_ID}:${CLIENT_SECRET}\" | base64 | tr -d '\\n')\" \\\n  --header \"Content-Type: application/x-www-form-urlencoded\" \\\n  --header \"Accept: application/json\" \\\n  --data \"grant_type=client_credentials\" | jq -r '.access_token')\n\ncurl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs?pretty=true\"\n```\n\nIf your organization requires an IP access list for the Atlas Administration API, the token can be created from any IP address, but the API call that uses the token must originate from an allowed IP.\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).\n\nYou can also explore the various endpoints available through the Atlas Administration API in MongoDB's [Postman workspace](https://www.postman.com/mongodb-devrel/workspace/mongodb-atlas-administration-apis/) (requires a Postman account)."
  license:
    name: CC BY-NC-SA 3.0 US
    url: https://creativecommons.org/licenses/by-nc-sa/3.0/us/
  termsOfService: https://www.mongodb.com/mongodb-management-service-terms-and-conditions
  title: MongoDB Atlas Administration Access Tracking Events API
  version: '2.0'
  x-xgen-sha: 3d70e065843c008b9871ea7836c98c9de6f202f9
servers:
- url: https://cloud.mongodb.com
security:
- ServiceAccounts: []
- DigestAuth: []
tags:
- description: Returns events. This collection remains under revision and may change.
  name: Events
paths:
  /api/atlas/v2/eventTypes:
    get:
      description: Returns a list of all event types, along with a description and additional metadata about each event.
      operationId: listEventTypes
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/includeCount'
      - $ref: '#/components/parameters/itemsPerPage'
      - $ref: '#/components/parameters/pageNum'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedEventTypeDetailsResponse'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return All Event Types
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api events listEventTypes --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListEventTypesApiParams{}\n\tsdkResp, httpResp, err := client.EventsApi.\n\t\tListEventTypesWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/eventTypes?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/eventTypes?pretty=true\""
      x-rolesRequirements:
      - Organization Member
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listEventTypes
  /api/atlas/v2/groups/{groupId}/events:
    get:
      description: 'Returns events for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.


        This resource remains under revision and may change.'
      operationId: listGroupEvents
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/includeCount'
      - $ref: '#/components/parameters/itemsPerPage'
      - $ref: '#/components/parameters/pageNum'
      - $ref: '#/components/parameters/pretty'
      - description: Human-readable label that identifies the cluster.
        in: query
        name: clusterNames
        schema:
          items:
            pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]*$
            type: string
          type: array
        style: form
      - description: 'Category of incident recorded at this moment in time.


          **IMPORTANT**: The complete list of event type values changes frequently.'
        in: query
        name: eventType
        schema:
          items:
            $ref: '#/components/schemas/EventTypeForNdsGroup'
          type: array
      - description: 'Category of event that you would like to exclude from query results, such as `CLUSTER_CREATED`.


          **IMPORTANT**: Event type names change frequently. Verify that you specify the event type correctly by checking the complete list of event types.'
        in: query
        name: excludedEventType
        schema:
          items:
            $ref: '#/components/schemas/EventTypeForNdsGroup'
          type: array
      - description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
        in: query
        name: includeRaw
        schema:
          default: false
          type: boolean
      - description: Date and time from when MongoDB Cloud stops returning events. This parameter uses the ISO 8601 timestamp format in UTC.
        in: query
        name: maxDate
        schema:
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          type: string
      - description: Date and time from when MongoDB Cloud starts returning events. This parameter uses the ISO 8601 timestamp format in UTC.
        in: query
        name: minDate
        schema:
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/GroupPaginatedEventView'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return Events from One Project
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api events listGroupEvents --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListGroupEventsApiParams{}\n\tsdkResp, httpResp, err := client.EventsApi.\n\t\tListGroupEventsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/events?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/events?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listGroupEvents
  /api/atlas/v2/groups/{groupId}/events/{eventId}:
    get:
      description: 'Returns one event for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return Events from One Project endpoint to retrieve all events to which the authenticated user has access.


        This resource remains under revision and may change.'
      externalDocs:
        description: Return Events from One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listProjectEvents
      operationId: getGroupEvent
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 24-hexadecimal digit string that identifies the event that you want to return.
        in: path
        name: eventId
        required: true
        schema:
          pattern: ^([a-f0-9]{24})$
          type: string
      - description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
        in: query
        name: includeRaw
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/EventViewForNdsGroup'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Event from One Project
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api events getGroupEvent --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupEventApiParams{}\n\tsdkResp, httpResp, err := client.EventsApi.\n\t\tGetGroupEventWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/events/{eventId}?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/events/{eventId}?pretty=true\""
      x-rolesRequirements:
      - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/getGroupEvent
  /api/atlas/v2/orgs/{orgId}/events:
    get:
      description: 'Returns events for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Organization Member role.


        This resource remains under revision and may change.'
      operationId: listOrgEvents
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/includeCount'
      - $ref: '#/components/parameters/itemsPerPage'
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/pageNum'
      - $ref: '#/components/parameters/pretty'
      - description: 'Category of incident recorded at this moment in time.


          **IMPORTANT**: The complete list of event type values changes frequently.'
        in: query
        name: eventType
        schema:
          items:
            $ref: '#/components/schemas/EventTypeForOrg'
          type: array
      - description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
        in: query
        name: includeRaw
        schema:
          default: false
          type: boolean
      - description: Date and time from when MongoDB Cloud stops returning events. This parameter uses the ISO 8601 timestamp format in UTC.
        in: query
        name: maxDate
        schema:
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          type: string
      - description: Date and time from when MongoDB Cloud starts returning events. This parameter uses the ISO 8601 timestamp format in UTC.
        in: query
        name: minDate
        schema:
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/OrgPaginatedEventView'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return Events from One Organization
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api events listOrgEvents --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListOrgEventsApiParams{}\n\tsdkResp, httpResp, err := client.EventsApi.\n\t\tListOrgEventsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs/{orgId}/events?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs/{orgId}/events?pretty=true\""
      x-rolesRequirements:
      - Organization Member
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listOrgEvents
  /api/atlas/v2/orgs/{orgId}/events/{eventId}:
    get:
      description: 'Returns one event for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Organization Member role. Use the Return Events from One Organization endpoint to retrieve all events to which the authenticated user has access.


        This resource remains under revision and may change.'
      externalDocs:
        description: Return Events from One Organization
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listOrganizationEvents
      operationId: getOrgEvent
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/pretty'
      - description: Unique 24-hexadecimal digit string that identifies the event that you want to return.
        in: path
        name: eventId
        required: true
        schema:
          pattern: ^([a-f0-9]{24})$
          type: string
      - description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
        in: query
        name: includeRaw
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/EventViewForOrg'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Event from One Organization
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api events getOrgEvent --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetOrgEventApiParams{}\n\tsdkResp, httpResp, err := client.EventsApi.\n\t\tGetOrgEventWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs/{orgId}/events/{eventId}?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs/{orgId}/events/{eventId}?pretty=true\""
      x-rolesRequirements:
      - Organization Member
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/getOrgEvent
components:
  schemas:
    HostMetricEvent:
      description: Host Metric Event reflects different measurements and metrics about mongod host.
      discriminator:
        mapping:
          ASSERT_MSG: '#/components/schemas/RawMetricEventView'
          ASSERT_REGULAR: '#/components/schemas/RawMetricEventView'
          ASSERT_USER: '#/components/schemas/RawMetricEventView'
          ASSERT_WARNING: '#/components/schemas/RawMetricEventView'
          AVG_COMMAND_EXECUTION_TIME: '#/components/schemas/TimeMetricEventView'
          AVG_READ_EXECUTION_TIME: '#/components/schemas/TimeMetricEventView'
          AVG_WRITE_EXECUTION_TIME: '#/components/schemas/TimeMetricEventView'
          BACKGROUND_FLUSH_AVG: '#/components/schemas/TimeMetricEventView'
          CACHE_BYTES_READ_INTO: '#/components/schemas/DataMetricEventView'
          CACHE_BYTES_WRITTEN_FROM: '#/components/schemas/DataMetricEventView'
          CACHE_USAGE_DIRTY: '#/components/schemas/DataMetricEventView'
          CACHE_USAGE_USED: '#/components/schemas/DataMetricEventView'
          COMPUTED_MEMORY: '#/components/schemas/DataMetricEventView'
          CONNECTIONS: '#/components/schemas/RawMetricEventView'
          CONNECTIONS_MAX: '#/components/schemas/RawMetricEventView'
          CONNECTIONS_PERCENT: '#/components/schemas/RawMetricEventView'
          CURSORS_TOTAL_CLIENT_CURSORS_SIZE: '#/components/schemas/RawMetricEventView'
          CURSORS_TOTAL_OPEN: '#/components/schemas/RawMetricEventView'
          CURSORS_TOTAL_TIMED_OUT: '#/components/schemas/RawMetricEventView'
          DB_DATA_SIZE_TOTAL: '#/components/schemas/DataMetricEventView'
          DB_DATA_SIZE_TOTAL_WO_SYSTEM: '#/components/schemas/DataMetricEventView'
          DB_INDEX_SIZE_TOTAL: '#/components/schemas/DataMetricEventView'
          DB_STORAGE_TOTAL: '#/components/schemas/DataMetricEventView'
          DISK_PARTITION_QUEUE_DEPTH_DATA: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_QUEUE_DEPTH_INDEX: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_QUEUE_DEPTH_JOURNAL: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_READ_IOPS_DATA: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_READ_IOPS_INDEX: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_READ_IOPS_JOURNAL: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_READ_LATENCY_DATA: '#/components/schemas/TimeMetricEventView'
          DISK_PARTITION_READ_LATENCY_INDEX: '#/components/schemas/TimeMetricEventView'
          DISK_PARTITION_READ_LATENCY_JOURNAL: '#/components/schemas/TimeMetricEventView'
          DISK_PARTITION_SPACE_USED_DATA: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_SPACE_USED_INDEX: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_SPACE_USED_JOURNAL: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_UTILIZATION_DATA: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_UTILIZATION_INDEX: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_UTILIZATION_JOURNAL: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_WRITE_IOPS_DATA: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_WRITE_IOPS_INDEX: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_WRITE_IOPS_JOURNAL: '#/components/schemas/RawMetricEventView'
          DISK_PARTITION_WRITE_LATENCY_DATA: '#/components/schemas/TimeMetricEventView'
          DISK_PARTITION_WRITE_LATENCY_INDEX: '#/components/schemas/TimeMetricEventView'
          DISK_PARTITION_WRITE_LATENCY_JOURNAL: '#/components/schemas/TimeMetricEventView'
          DOCUMENT_DELETED: '#/components/schemas/RawMetricEventView'
          DOCUMENT_INSERTED: '#/components/schemas/RawMetricEventView'
          DOCUMENT_RETURNED: '#/components/schemas/RawMetricEventView'
          DOCUMENT_UPDATED: '#/components/schemas/RawMetricEventView'
          EXTRA_INFO_PAGE_FAULTS: '#/components/schemas/RawMetricEventView'
          FTS_DISK_UTILIZATION: '#/components/schemas/DataMetricEventView'
          FTS_JVM_CURRENT_MEMORY: '#/components/schemas/DataMetricEventView'
          FTS_JVM_MAX_MEMORY: '#/components/schemas/DataMetricEventView'
          FTS_MEMORY_MAPPED: '#/components/schemas/DataMetricEventView'
          FTS_MEMORY_RESIDENT: '#/components/schemas/DataMetricEventView'
          FTS_MEMORY_VIRTUAL: '#/components/schemas/DataMetricEventView'
          FTS_PROCESS_CPU_KERNEL: '#/components/schemas/RawMetricEventView'
          FTS_PROCESS_CPU_USER: '#/components/schemas/RawMetricEventView'
          GLOBAL_ACCESSES_NOT_IN_MEMORY: '#/components/schemas/RawMetricEventView'
          GLOBAL_LOCK_CURRENT_QUEUE_READERS: '#/components/schemas/RawMetricEventView'
          GLOBAL_LOCK_CURRENT_QUEUE_TOTAL: '#/components/schemas/RawMetricEventView'
          GLOBAL_LOCK_CURRENT_QUEUE_WRITERS: '#/components/schemas/RawMetricEventView'
          GLOBAL_LOCK_PERCENTAGE: '#/components/schemas/RawMetricEventView'
          GLOBAL_PAGE_FAULT_EXCEPTIONS_THROWN: '#/components/schemas/RawMetricEventView'
          INDEX_COUNTERS_BTREE_ACCESSES: '#/components/schemas/RawMetricEventView'
          INDEX_COUNTERS_BTREE_HITS: '#/components/schemas/RawMetricEventView'
          INDEX_COUNTERS_BTREE_MISSES: '#/components/schemas/RawMetricEventView'
          INDEX_COUNTERS_BTREE_MISS_RATIO: '#/components/schemas/RawMetricEventView'
          JOURNALING_COMMITS_IN_WRITE_LOCK: '#/components/schemas/RawMetricEventView'
          JOURNALING_MB: '#/components/schemas/DataMetricEventView'
          JOURNALING_WRITE_DATA_FILES_MB: '#/components/schemas/DataMetricEventView'
          LOGICAL_SIZE: '#/components/schemas/DataMetricEventView'
          MAX_DISK_PARTITION_QUEUE_DEPTH_DATA: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_QUEUE_DEPTH_INDEX: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_QUEUE_DEPTH_JOURNAL: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_READ_IOPS_DATA: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_READ_IOPS_INDEX: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_READ_IOPS_JOURNAL: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_READ_LATENCY_DATA: '#/components/schemas/TimeMetricEventView'
          MAX_DISK_PARTITION_READ_LATENCY_INDEX: '#/components/schemas/TimeMetricEventView'
          MAX_DISK_PARTITION_READ_LATENCY_JOURNAL: '#/components/schemas/TimeMetricEventView'
          MAX_DISK_PARTITION_SPACE_USED_DATA: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_SPACE_USED_INDEX: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_SPACE_USED_JOURNAL: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_UTILIZATION_DATA: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_UTILIZATION_INDEX: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_UTILIZATION_JOURNAL: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_WRITE_IOPS_DATA: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_WRITE_IOPS_INDEX: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_WRITE_IOPS_JOURNAL: '#/components/schemas/RawMetricEventView'
          MAX_DISK_PARTITION_WRITE_LATENCY_DATA: '#/components/schemas/TimeMetricEventView'
          MAX_DISK_PARTITION_WRITE_LATENCY_INDEX: '#/components/schemas/TimeMetricEventView'
          MAX_DISK_PARTITION_WRITE_LATENCY_JOURNAL: '#/components/schemas/TimeMetricEventView'
          MAX_NORMALIZED_SYSTEM_CPU_STEAL: '#/components/schemas/RawMetricEventView'
          MAX_NORMALIZED_SYSTEM_CPU_USER: '#/components/schemas/RawMetricEventView'
          MAX_SWAP_USAGE_FREE: '#/components/schemas/DataMetricEventView'
          MAX_SWAP_USAGE_USED: '#/components/schemas/DataMetricEventView'
          MAX_SYSTEM_MEMORY_AVAILABLE: '#/components/schemas/DataMetricEventView'
          MAX_SYSTEM_MEMORY_PERCENT_USED: '#/components/schemas/RawMetricEventView'
          MAX_SYSTEM_MEMORY_USED: '#/components/schemas/DataMetricEventView'
          MAX_SYSTEM_NETWORK_IN: '#/components/schemas/DataMetricEventView'
          MAX_SYSTEM_NETWORK_OUT: '#/components/schemas/DataMetricEventView'
          MEMORY_MAPPED: '#/components/schemas/DataMetricEventView'
          MEMORY_RESIDENT: '#/components/schemas/DataMetricEventView'
          MEMORY_VIRTUAL: '#/components/schemas/DataMetricEventView'
          MUNIN_CPU_IOWAIT: '#/components/schemas/RawMetricEventView'
          MUNIN_CPU_IRQ: '#/components/schemas/RawMetricEventView'
          MUNIN_CPU_NICE: '#/components/schemas/RawMetricEventView'
          MUNIN_CPU_SOFTIRQ: '#/components/schemas/RawMetricEventView'
          MUNIN_CPU_STEAL: '#/components/schemas/RawMetricEventView'
          MUNIN_CPU_SYSTEM: '#/components/schemas/RawMetricEventView'
          MUNIN_CPU_USER: '#/components/schemas/RawMetricEventView'
          NETWORK_BYTES_IN: '#/components/schemas/DataMetricEventView'
          NETWORK_BYTES_OUT: '#/components/schemas/DataMetricEventView'
          NETWORK_NUM_REQUESTS: '#/components/schemas/RawMetricEventView'
          NORMALIZED_FTS_PROCESS_CPU_KERNEL: '#/components/schemas/RawMetricEventView'
          NORMALIZED_FTS_PROCESS_CPU_USER: '#/components/schemas/RawMetricEventView'
          NORMALIZED_SYSTEM_CPU_STEAL: '#/components/schemas/RawMetricEventView'
          NORMALIZED_SYSTEM_CPU_USER: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_CMD: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_DELETE: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_GETMORE: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_INSERT: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_QUERY: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_REPL_CMD: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_REPL_DELETE: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_REPL_INSERT: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_REPL_UPDATE: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_TTL_DELETED: '#/components/schemas/RawMetricEventView'
          OPCOUNTER_UPDATE: '#/components/schemas/RawMetricEventView'
          OPERATIONS_QUERIES_KILLED: '#/components/schemas/RawMetricEventView'
          OPERATIONS_SCAN_AND_ORDER: '#/components/schemas/RawMetricEventView'
          OPERATION_THROTTLING_REJECTED_OPERATIONS: '#/components/schemas/RawMetricEventView'
          OPLOG_MASTER_LAG_TIME_DIFF: '#/components/schemas/TimeMetricEventView'
          OPLOG_MASTER_TIME: '#/components/schemas/TimeMetricEventView'
          OPLOG_MASTER_TIME_ESTIMATED_TTL: '#/components/schemas/TimeMetricEventView'
          OPLOG_RATE_GB_PER_HOUR: '#/components/schemas/DataMetricEventView'
          OPLOG_REPLICATION_LAG_TIME: '#/components/schemas/TimeMetricEventView'
          OPLOG_SLAVE_LAG_MASTER_TIME: '#/components/schemas/TimeMetricEventView'
          QUERY_EXECUTOR_SCANNED: '#/components/schemas/RawMetricEventView'
          QUERY_EXECUTOR_SCANNED_OBJECTS: '#/components/schemas/RawMetricEventView'
          QUERY_SPILL_TO_DISK_DURING_SORT: '#/components/schemas/RawMetricEventView'
          QUERY_TARGETING_SCANNED_OBJECTS_PER_RETURNED: '#/components/schemas/RawMetricEventView'
          QUERY_TARGETING_SCANNED_PER_RETURNED: '#/components/schemas/RawMetricEventView'
          RESTARTS_IN_LAST_HOUR: '#/components/schemas/RawMetricEventView'
          SEARCH_INDEX_SIZE: '#/components/schemas/DataMetricEventView'
          SEARCH_MAX_FIELDS_INDEXED: '#/components/schemas/RawMetricEventView'
          SEARCH_MAX_NGRAM_FIELDS_INDEXED: '#/components/schemas/RawMetricEventView'
          SEARCH_MAX_NUMBER_OF_LUCENE_DOCS: '#/components/schemas/NumberMetricEventView'
          SEARCH_NUMBER_OF_FIELDS_IN_INDEX: '#/components/schemas/RawMetricEventView'
          SEARCH_NUMBER_OF_QUERIES_ERROR: '#/components/schemas/RawMetricEventView'
          SEARCH_NUMBER_OF_QUERIES_SUCCESS: '#/components/schemas/RawMetricEventView'
          SEARCH_NUMBER_OF_QUERIES_TOTAL: '#/components/schemas/RawMetricEventView'
          SEARCH_OPCOUNTER_DELETE: '#/components/schemas/RawMetricEventView'
          SEARCH_OPCOUNTER_GETMORE: '#/components/schemas/RawMetricEventView'
          SEARCH_OPCOUNTER_INSERT: '#/components/schemas/RawMetricEventView'
          SEARCH_OPCOUNTER_UPDATE: '#/components/schemas/RawMetricEventView'
          SEARCH_PROCESS_THROTTLING: '#/components/schemas/RawMetricEventView'
          SEARCH_REPLICATION_LAG: '#/components/schemas/TimeMetricEventView'
          SWAP_USAGE_FREE: '#/components/schemas/DataMetricEventView'
          SWAP_USAGE_USED: '#/components/schemas/DataMetricEventView'
          SYSTEM_MEMORY_AVAILABLE: '#/components/schemas/DataMetricEventView'
          SYSTEM_MEMORY_PERCENT_USED: '#/components/schemas/RawMetricEventView'
          SYSTEM_MEMORY_USED: '#/components/schemas/DataMetricEventView'
          SYSTEM_NETWORK_IN: '#/components/schemas/DataMetricEventView'
          SYSTEM_NETWORK_OUT: '#/components/schemas/DataMetricEventView'
          TICKETS_AVAILABLE_READS: '#/components/schemas/RawMetricEventView'
          TICKETS_AVAILABLE_WRITES: '#/components/schemas/RawMetricEventView'
        propertyName: metricName
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        currentValue:
          $ref: '#/components/schemas/HostMetricValue'
        deskLocation:
          description: Desk location of MongoDB employee associated with the event.
          readOnly: true
          type: string
        employeeIdentifier:
          description: Identifier of MongoDB employee associated with the event.
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/HostMetricEventTypeView'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        metricName:
          description: Human-readable label of the metric associated with the `alertId`. This field may change type of `currentValue` field.
          readOnly: true
          type: string
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        port:
          description: IANA port on which the MongoDB process listens for requests.
          example: 27017
          format: int32
          readOnly: true
          type: integer
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        replicaSetName:
          description: Human-readable label of the replica set associated with the event.
          example: event-replica-set
          readOnly: true
          type: string
        shardName:
          description: Human-readable label of the shard associated with the event.
          example: event-sh-01
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: Host Metric Events
      type: object
    ChartsAudit:
      description: Audit events related to Atlas Charts.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/ChartsAuditTypeView'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      type: object
    NDSAuditTypeViewForOrg:
      description: Unique identifier of event type.
      enum:
      - ORG_LIMIT_UPDATED
      - SHADOW_CLUSTER_ORG_OPT_IN
      - SHADOW_CLUSTER_ORG_OPT_OUT
      example: ORG_LIMIT_UPDATED
      title: Atlas Audit Types
      type: string
    ApiUserEventTypeViewForNdsGroup:
      description: Unique identifier of event type.
      enum:
      - API_KEY_CREATED
      - API_KEY_DELETED
      - API_KEY_ACCESS_LIST_ENTRY_ADDED
      - API_KEY_ACCESS_LIST_ENTRY_DELETED
      - API_KEY_ROLES_CHANGED
      - API_KEY_DESCRIPTION_CHANGED
      - API_KEY_ADDED_TO_GROUP
      - API_KEY_REMOVED_FROM_GROUP
      - API_KEY_UI_IP_ACCESS_LIST_INHERITANCE_ENABLED
      - API_KEY_UI_IP_ACCESS_LIST_INHERITANCE_DISABLED
      example: API_KEY_CREATED
      title: API User Event Types
      type: string
    ServiceAccountEventTypeViewForOrg:
      description: Unique identifier of event type.
      enum:
      - SERVICE_ACCOUNT_CREATED
      - SERVICE_ACCOUNT_DELETED
      - SERVICE_ACCOUNT_ROLES_CHANGED
      - SERVICE_ACCOUNT_DETAILS_CHANGED
      - SERVICE_ACCOUNT_ADDED_TO_GROUP
      - SERVICE_ACCOUNT_REMOVED_FROM_GROUP
      - SERVICE_ACCOUNT_ACCESS_LIST_ENTRY_ADDED
      - SERVICE_ACCOUNT_ACCESS_LIST_ENTRY_DELETED
      - SERVICE_ACCOUNT_SECRET_ADDED
      - SERVICE_ACCOUNT_SECRET_DELETED
      - SERVICE_ACCOUNT_UI_IP_ACCESS_LIST_INHERITANCE_ENABLED
      - SERVICE_ACCOUNT_UI_IP_ACCESS_LIST_INHERITANCE_DISABLED
      title: Service Account Event Types
      type: string
    AlertAuditTypeView:
      description: Unique identifier of event type.
      enum:
      - ALERT_ACKNOWLEDGED_AUDIT
      - ALERT_UNACKNOWLEDGED_AUDIT
      example: ALERT_ACKNOWLEDGED_AUDIT
      title: Alert Audit Types
      type: string
    OrgEventViewForOrg:
      description: Organization event identifies different activities and changes in an organization settings.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/OrgEventTypeViewForOrg'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        invoiceId:
          description: Unique 24-hexadecimal digit string that identifies of the invoice associated with the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: Organization Events
      type: object
    FTSIndexAuditTypeView:
      description: Unique identifier of event type.
      enum:
      - FTS_INDEX_DELETION_FAILED
      - FTS_INDEX_BUILD_COMPLETE
      - FTS_INDEX_BUILD_FAILED
      - FTS_INDEX_CREATED
      - FTS_INDEX_UPDATED
      - FTS_INDEX_DELETED
      - FTS_INDEX_CLEANED_UP
      - FTS_INDEX_STALE
      - FTS_INDEXES_RESTORED
      - FTS_INDEXES_RESTORE_FAILED
      - FTS_INDEXES_SYNONYM_MAPPING_INVALID
      example: FTS_INDEX_CREATED
      title: FTS Index Audit Types
      type: string
    ChartsAuditTypeView:
      description: Unique identifier of event type.
      enum:
      - CHARTS_API_SUCCESS
      - CHARTS_API_FAILURE
      example: CHARTS_API_SUCCESS
      title: Charts Api Call Audit Types
      type: string
    NDSServerlessInstanceAuditView:
      description: Serverless instance audit identifies any activities around serverless instance.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/NDSServerlessInstanceAuditTypeView'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: Serverless Instance Audits
      type: object
    GroupPaginatedEventView:
      properties:
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        results:
          description: List of returned documents that MongoDB Cloud provides when completing this request.
          items:
            $ref: '#/components/schemas/EventViewForNdsGroup'
          readOnly: true
          type: array
        totalCount:
          description: Total number of documents available. MongoDB Cloud omits this value if `includeCount` is set to `false`. The total number is an estimate and may not be exact.
          format: int32
          minimum: 0
          readOnly: true
          type: integer
      required:
      - results
      type: object
    NDSAuditTypeViewForNdsGroup:
      description: Unique identifier of event type.
      enum:
      - CLUSTER_CREATED
      - CLUSTER_RESURRECTED
      - CLUSTER_READY
      - CLUSTER_UPDATE_SUBMITTED
      - CLUSTER_PROCESS_ARGS_UPDATE_SUBMITTED
      - CLUSTER_MONGOT_PROCESS_ARGS_UPDATE_SUBMITTED
      - CLUSTER_SERVER_PARAMETERS_UPDATE_SUBMITTED
      - CLUSTER_AUTOMATICALLY_PAUSED
      - CLUSTER_UPDATE_STARTED
      - CLUSTER_UPDATE_STARTED_INTERNAL
      - CLUSTER_UPDATE_COMPLETED
      - MATERIAL_CLUSTER_UPDATE_COMPLETED_INTERNAL
      - CLUSTER_DELETE_SUBMITTED
      - CLUSTER_DELETE_SUBMITTED_INTERNAL
      - CLUSTER_DELETED
      - CLUSTER_IMPORT_STARTED
      - CLUSTER_IMPORT_CANCELLED
      - CLUSTER_IMPORT_EXPIRED
      - CLUSTER_IMPORT_CUTOVER
      - CLUSTER_IMPORT_COMPLETED
      - CLUSTER_IMPORT_FAILED
      - CLUSTER_IMPORT_RESTART_REQUESTED
      - PROJECT_LIVE_IMPORT_OVERRIDES_ADDED
      - PROJECT_LIVE_IMPORT_OVERRIDES_UPDATED
      - PROJECT_LIVE_IMPORT_OVERRIDES_DELETED
      - CLUSTER_OPLOG_RESIZED
      - CLUSTER_INSTANCE_RESTARTED
      - CLUSTER_INSTANCE_STOP_START
      - CLUSTER_INSTANCE_RESYNC_REQUESTED
      - CLUSTER_INSTANCE_RESYNC_CLEARED
      - CLUSTER_INSTANCE_UPDATE_REQUESTED
      - CLUSTER_INSTANCE_REPLACED
      - CLUSTER_INSTANCE_REPLACE_CLEARED
      - CLUSTER_INSTANCE_SWAPPED
      - CLUSTER_INSTANCE_SWAP_CLEARED
      - CLUSTER_INSTANCE_VM_RESTART_CLEARED
      - CLUSTER_INSTANCE_VM_REBOOT_CLEARED
      - CLUSTER_INSTANCE_CONFIG_UPDATED
      - CLUSTER_INSTANCE_AGENT_API_KEY_ROTATED
      - CLUSTER_INSTANCE_SSL_ROTATED
      - CLUSTER_INSTANCE_SSL_ROTATED_PER_CLUSTER
      - CLUSTER_INSTANCE_SSL_REVOKED
      - RELOAD_SSL_ON_PROCESSES
      - RELOAD_SSL_ON_PROCESSES_REQUESTED
      - CLUSTER_INSTANCE_ADMIN_BACKUP_SNAPSHOT_REQUESTED
      - DATA_LAKE_QUERY_LOGS_DOWNLOADED
      - FEDERATED_DATABASE_QUERY_LOGS_DOWNLOADED
      - ONLINE_ARCHIVE_QUERY_LOGS_DOWNLOADED
      - MONGODB_LOGS_DOWNLOADED
      - MONGOSQLD_LOGS_DOWNLOADED
      - MONGOT_LOGS_DOWNLOADED
      - MONGODB_USER_ADDED
      - MONGODB_USER_DELETED
      - MONGODB_USER_X509_CERT_CREATED
      - MONGODB_USER_X509_CERT_REVOKED
      - MONGODB_USER_UPDATED
      - MONGODB_ROLE_ADDED
      - MONGODB_ROLE_DELETED
      - MONGODB_ROLE_UPDATED
      - NETWORK_PERMISSION_ENTRY_ADDED
      - NETWORK_PERMISSION_ENTRY_REMOVED
      - NETWORK_PERMISSION_ENTRY_UPDATED
      - PRIVATE_NETWORK_ENDPOINT_ENTRY_ADDED
      - PRIVATE_NETWORK_ENDPOINT_ENTRY_REMOVED
      - PRIVATE_NETWORK_ENDPOINT_ENTRY_UPDATED
      - PLAN_STARTED
      - PLAN_COMPLETED
      - PLAN_ABANDONED
      - PLAN_DECLINED
      - PLAN_FAILURE_COUNT_RESET
      - PLAN_ASAP_REQUESTED
      - INDEPENDENT_SHARD_AUTO_SCALING_AVAILABLE
      - INDEPENDENT_SHARD_SCALING_CLUSTER_MIGRATED
      - INDEPENDENT_SHARD_SCALING_CLUSTER_ROLLED_BACK
      - MOVE_SKIPPED
      - STEP_SKIPPED
      - PROXY_RESTARTED
      - PROXY_PANICKED
      - ATLAS_MAINTENANCE_PROTECTED_HOURS_CREATED
      - ATLAS_MAINTENANCE_PROTECTED_HOURS_MODIFIED
      - ATLAS_MAINTENANCE_PROTECTED_HOURS_REMOVED
      - ATLAS_MAINTENANCE_WINDOW_ADDED
      - ATLAS_MAINTENANCE_WINDOW_MODIFIED
      - ATLAS_MAINTENANCE_WINDOW_REMOVED
      - ATLAS_MAINTENANCE_START_ASAP
      - ATLAS_MAINTENANCE_SCHEDULED_FOR_NEXT_WINDOW
      - ATLAS_MAINTENANCE_DEFERRED
      - ATLAS_MAINTENANCE_AUTO_DEFER_ENABLED
      - ATLAS_MAINTENANCE_AUTO_DEFER_DISABLED
      - ATLAS_MAINTENANCE_RESET_BY_ADMIN
      - ATLAS_MAINTENANCE_DEFERRED_BY_ADMIN
      - SCHEDULED_MAINTENANCE
      - PROJECT_SCHEDULED_MAINTENANCE
      - PROJECT_LIMIT_UPDATED
      - PROJECT_ENABLE_EXTENDED_STORAGE_SIZES_UPDATED
      - OS_MAINTENANCE
      - OS_MAINTENANCE_RESTART
      - OS_MAINTENANCE_REPLACEMENT
      - FREE_UPGRADE_STARTED
      - FLEX_UPGRADE_STARTED
      - SERVERLESS_UPGRADE_STARTED
      - TEST_FAILOVER_REQUESTED
      - USER_SECURITY_SETTINGS_UPDATED
      - AUDIT_LOG_CONFIGURATION_UPDATED
      - STREAMS_AUDIT_LOG_CONFIGURATION_UPDATED
      - ENCRYPTION_AT_REST_CONFIGURATION_UPDATED
      - ENCRYPTION_AT_REST_CONFIGURATION_VALIDATION_FAILED
      - ENCRYPTION_AT_REST_CONFIGURATION_VALIDATION_SUCCEEDED
      - ENCRYPTION_AT_REST_KEY_ROTATION_STARTED
      - ENCRYPTION_AT_REST_PRIVATE_ENDPOINT_CREATED
      - ENCRYPTION_AT_REST_PRIVATE_ENDPOINT_DELETED
      - NDS_SET_IMAGE_OVERRIDES
      - NDS_SET_CHEF_TARBALL_URI
      - RESTRICTED_EMPLOYEE_ACCESS_BYPASS
      - REVOKED_EMPLOYEE_ACCESS_BYPASS
      - DEVICE_SYNC_DEBUG_ACCESS_GRANTED
      - DEVICE_SYNC_DEBUG_ACCESS_REVOKED
      - DEVICE_SYNC_DEBUG_X509_CERT_CREATED
      - EMPLOYEE_ACCESS_GRANTED
      - EMPLOYEE_ACCESS_REVOKED
      - QUERY_ENGINE_TENANT_CREATED
      - QUERY_ENGINE_TENANT_UPDATED
      - QUERY_ENGINE_TENANT_REMOVED
      - FEDERATED_DATABASE_CREATED
      - FEDERATED_DATABASE_UPDATED
      - FEDERATED_DATABASE_REMOVED
      - TENANT_SNAPSHOT_FAILED
      - TENANT_RESTORE_FAILED
      - SAMPLE_DATASET_LOAD_REQUESTED
      - CUSTOMER_X509_CRL_UPDATED
      - CONTAINER_SUBNETS_UPDATE_REQUESTED
      - ONLINE_ARCHIVE_CREATED
      - ONLINE_ARCHIVE_DELETED
      - ONLINE_ARCHIVE_UPDATED
      - ONLINE_ARCHIVE_PAUSE_REQUESTED
      - ONLINE_ARCHIVE_PAUSED
      - ONLINE_ARCHIVE_ACTIVE
      - ONLINE_ARCHIVE_ORPHANED
      - ONLINE_ARCHIVE_DATA_EXPIRATION_RULE_ENABLED
      - ONLINE_ARCHIVE_DATA_EXPIRATION_RULE_UPDATED
      - ONLINE_ARCHIVE_DATA_EXPIRATION_RULE_DISABLED
      - ONLINE_ARCHIVE_DELETE_AFTER_DATE_UPDATED
      - CLOUD_PROVIDER_ACCESS_AWS_IAM_ROLE_ADDED
      - CLOUD_PROVIDER_ACCESS_AWS_IAM_ROLE_DELETED
      - CLOUD_PROVIDER_ACCESS_AWS_IAM_ROLE_UPDATED
      - CLOUD_PROVIDER_ACCESS_AZURE_SERVICE_PRINCIPAL_ADDED
      - CLOUD_PROVIDER_ACCESS_AZURE_SERVICE_PRINCIPAL_DELETED
      - CLOUD_PROVIDER_ACCESS_AZURE_SERVICE_PRINCIPAL_UPDATED
      - CLOUD_PROVIDER_ACCESS_GCP_SERVICE_ACCOUNT_ADDED
      - CLOUD_PROVIDER_ACCESS_GCP_SERVICE_ACCOUNT_DELETED
      - CLOUD_PROVIDER_ACCESS_GCP_SERVICE_ACCOUNT_UPDATED
      - PENDING_INDEXES_DELETED
      - PENDING_INDEXES_CANCELED
      - PROCESS_RESTART_REQUESTED
      - AUTO_HEALING_ACTION
      - AUTO_HEALING_REQUESTED_CRITICAL_INSTANCE_POWER_CYCLE
      - AUTO_HEALING_REQUESTED_INSTANCE_REPLACEMENT
      - AUTO_HEALING_REQUESTED_NODE_RESYNC
      - EXTRA_MAINTENANCE_DEFERRAL_GRANTED
      - GROUP_AUTOMATION_CONFIG_PUBLISHED
      - CLUSTER_AUTOMATION_CONFIG_PUBLISHED
      - SET_ENSURE_CLUSTER_CONNECTIVITY_AFTER_FOR_CLUSTER
      - CLUSTER_LINKED_TO_VERCEL
      - CLUSTER_UNLINKED_FROM_VERCEL
      - INGESTION_PIPELINE_DELETED
      - INGESTION_PIPELINE_DESTROYED
      - INGESTION_PIPELINE_CREATED
      - INGESTION_PIPELINE_UPDATED
      - OS_TUNE_FILE_OVERRIDES
      - MONITORING_AGENT_OVERRIDES
      - MONITORING_AGENT_REBALANCE_FLAG
      - MONITORING_AGENT_REBALANCE_TRIGGERED
      - CLUSTER_PREFERRED_CPU_ARCHITECTURE_MODIFIED
      - CLUSTER_FORCE_PLANNED
      - CLUSTER_REGIONAL_OUTAGE_SIMULATION_STARTED
      - CLUSTER_REGIONAL_OUTAGE_SIMULATION_FAILED_TO_START
      - CLUSTER_REGIONAL_OUTAGE_SIMULATION_END_REQUESTED
      - CLUSTER_REGIONAL_OUTAGE_SIMULATION_COMPLETED
      - CLUSTER_REGIONAL_OUTAGE_SIMULATION_CANCELLED_CLUSTER_PAUSE
      - UIS_PANICKED
      - TENANT_UPGRADE_TO_SERVERLESS_SUCCESSFUL
      - TENANT_UPGRADE_TO_SERVERLESS_FAILED
      - SERVERLESS_UPGRADE_TO_DEDICATED_SUCCESSFUL
      - SERVERLESS_UPGRADE_TO_DEDICATED_FAILED
      - CLUSTER_FORCE_RECONFIG_REQUESTED
      - PROJECT_BYPASSED_MAINTENANCE
      - FEATURE_FLAG_MAINTENANCE
      - DATA_FEDERATION_QUERY_LIMIT_CONFIGURED
      - DATA_FEDERATION_QUERY_LIMIT_DELETED
      - DATA_API_SETUP_FOR_VERCEL
      - ADMIN_CLUSTER_LOCK_UPDATED
      - CLUSTER_ROLLING_RESYNC_STARTED
      - CLUSTER_ROLLING_RESYNC_COMPLETED
      - CLUSTER_ROLLING_RESYNC_FAILED
      - NODE_ROLLING_RESYNC_SCHEDULED
      - CLUSTER_ROLLING_RESYNC_CANCELED
      - CLUSTER_OS_UPDATED
      - CLUSTER_INSTANCE_FAMILY_UPDATED
      - PUSH_BASED_LOG_EXPORT_ENABLED
      - PUSH_BASED_LOG_EXPORT_CONFIGURATION_UPDATED
      - PUSH_BASED_LOG_EXPORT_DISABLED
      - LOG_STREAMING_ENABLED
      - LOG_STREAMING_CONFIGURATION_UPDATED
      - LOG_STREAMING_DISABLED
      - DATADOG_LOG_STREAMING_ENABLED
      - DATADOG_LOG_STREAMING_CONFIGURATION_UPDATED
      - DATADOG_LOG_STREAMING_DISABLED
      - SPLUNK_LOG_STREAMING_ENABLED
      - SPLUNK_LOG_STREAMING_CONFIGURATION_UPDATED
      - SPLUNK_LOG_STREAMING_DISABLED
      - S3_LOG_STREAMING_ENABLED
      - S3_LOG_STREAMING_CONFIGURATION_UPDATED
      - S3_LOG_STREAMING_DISABLED
      - AZURE_LOG_STREAMING_ENABLED
      - AZURE_LOG_STREAMING_CONFIGURATION_UPDATED
      - AZURE_LOG_STREAMING_DISABLED
      - GCP_LOG_STREAMING_ENABLED
      - GCP_LOG_STREAMING_CONFIGURATION_UPDATED
      - GCP_LOG_STREAMING_DISABLED
      - OTEL_LOG_STREAMING_ENABLED
      - OTEL_LOG_STREAMING_CONFIGURATION_UPDATED
      - OTEL_LOG_STREAMING_DISABLED
      - OTEL_METRIC_INTEGRATION_ENABLED
      - OTEL_METRIC_INTEGRATION_CONFIGURATION_UPDATED
      - OTEL_METRIC_INTEGRATION_DISABLED
      - AZURE_CLUSTER_PREFERRED_STORAGE_TYPE_UPDATED
      - CONTAINER_DELETED
      - REGIONALIZED_PRIVATE_ENDPOINT_MODE_ENABLED
      - REGIONALIZED_PRIVATE_ENDPOINT_MODE_DISABLED
      - STREAM_TENANT_CREATED
      - STREAM_TENANT_UPDATED
      - STREAM_TENANT_DELETED
      - STREAM_TENANT_CONNECTIONS_LISTED
      - STREAM_TENANT_CONNECTION_UPDATED
      - STREAM_TENANT_CONNECTION_DELETED
      - STREAM_TENANT_CONNECTION_CREATED
      - STREAM_TENANT_CONNECTION_VIEWED
      - STREAM_TENANT_OPERATIONAL_LOGS
      - STREAM_TENANT_AUDIT_LOGS
      - STREAM_TENANT_AUDIT_LOGS_DELETED
      - QUEUED_ADMIN_ACTION_CREATED
      - QUEUED_ADMIN_ACTION_COMPLETED
      - QUEUED_ADMIN_ACTION_CANCELLED
      - ATLAS_SQL_SCHEDULED_UPDATE_CREATED
      - ATLAS_SQL_SCHEDULED_UPDATE_MODIFIED
      - ATLAS_SQL_SCHEDULED_UPDATE_REMOVED
      - CLUSTER_INSTANCE_DISABLED
      - CLUSTER_INSTANCE_ENABLED
      - CLUSTER_BLOCK_WRITE
      - CLUSTER_UNBLOCK_WRITE
      - KMIP_KEY_ROTATION_SCHEDULED
      - SSL_CERTIFICATE_ISSUED
      - PROJECT_SCHEDULED_MAINTENANCE_OUTSIDE_OF_PROTECTED_HOURS
      - CLUSTER_CANCELING_SHARD_DRAIN_REQUESTED
      - CLUSTER_CANCELING_CONFIG_SERVER_TRANSITION_REQUESTED
      - CLUSTER_MIGRATE_BACK_TO_AWS_MANAGED_IP_REQUESTED
      - CLUSTER_IP_MIGRATED_FIRST_ROUND
      - CLUSTER_IP_MIGRATED_SECOND_ROUND
      - CLUSTER_IP_MIGRATED_FINAL_ROUND
      - CLUSTER_IP_ROLLED_BACK
      - AZ_BALANCING_OVERRIDE_MODIFIED
      - FTDC_SETTINGS_UPDATED
      - PROXY_PROTOCOL_FOR_PRIVATE_LINK_MODE_UPDATED
      - MONGOTUNE_WRITE_BLOCK_POLICY_ELIGIBLE
      - MONGOTUNE_WRITE_BLOCK_POLICY_INELIGIBLE
      - PREDICTIVE_AUTOSCALING_ENABLED
      - PREDICTIVE_AUTOSCALING_DISABLED
      - SHADOW_CLUSTER_CREATE_EXPOSURE
      - SHADOW_CLUSTER_DELETE_EXPOSURE
      - SHADOW_CLUSTER_RECORDING_STATUS_UPDATE
      - SHADOW_CLUSTER_REPLAY_STATUS_UPDATE
      - NODE_HIDDEN_BY_ADMIN
      - NODE_UNHIDDEN_BY_ADMIN
      - CLUSTER_CREATED_VIA_ANIS
      example: CLUSTER_CREATED
      title: Atlas Audit Types
      type: string
    AtlasResourcePolicyAuditForOrg:
      description: Atlas resource policy audits indicate organization level changes to resource policies.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          description: Unique identifier of event type.
          enum:
          - RESOURCE_POLICY_CREATED
          - RESOURCE_POLICY_MODIFIED
          - RESOURCE_POLICY_DELETED
          - RESOURCE_POLICY_VIOLATED
          example: RESOURCE_POLICY_CREATED
          title: Atlas Resource Policy Audit Types
          type: string
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        resourcePolicyId:
          description: Unique 24-hexadecimal character string that identifies the resource policy.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: Atlas Resource Policy Audits
      type: object
    EventTypeDetails:
      description: A singular type of event.
      properties:
        alertable:
          description: Whether or not this event type can be configured as an alert via the API.
          readOnly: true
          type: boolean
        description:
          description: Description of the event type.
          readOnly: true
          type: string
        eventType:
          description: Enum representation of the event type.
          readOnly: true
          type: string
      title: Event type details
      type: object
    BillingEventTypeViewForNdsGroup:
      description: Unique identifier of event type.
      enum:
      - CREDIT_CARD_CURRENT
      - CREDIT_CARD_ABOUT_TO_EXPIRE
      - PENDING_INVOICE_UNDER_THRESHOLD
      - PENDING_INVOICE_OVER_THRESHOLD
      - DAILY_BILL_UNDER_THRESHOLD
      - DAILY_BILL_OVER_THRESHOLD
      - DAILY_BILLING_CHANGE_NORMAL
      - DAILY_BILLING_CHANGE_OVER_THRESHOLD
      - WEEKLY_BILLING_CHANGE_NORMAL
      - WEEKLY_BILLING_CHANGE_OVER_THRESHOLD
      - MONTHLY_BILLING_CHANGE_NORMAL
      - MONTHLY_BILLING_CHANGE_OVER_THRESHOLD
      example: CREDIT_CARD_CURRENT
      title: Billing Event Types
      type: string
    SearchDeploymentAuditTypeView:
      description: Unique identifier of event type.
      enum:
      - SEARCH_DEPLOYMENT_CREATED
      - SEARCH_DEPLOYMENT_UPDATED
      - SEARCH_DEPLOYMENT_DELETED
      example: SEARCH_DEPLOYMENT_CREATED
      title: Search Deployment Audit Types
      type: string
    ServiceAccountOrgEvents:
      description: Service Account event identifies different activities around user API keys.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/ServiceAccountEventTypeViewForOrg'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: ServiceAccount Events
      type: object
    AppServiceEventTypeView:
      description: Unique identifier of event type.
      enum:
      - URL_CONFIRMATION
      - SUCCESSFUL_DEPLOY
      - DEPLOYMENT_FAILURE
      - DEPLOYMENT_MODEL_CHANGE_SUCCESS
      - DEPLOYMENT_MODEL_CHANGE_FAILURE
      - REQUEST_RATE_LIMIT
      - LOG_FORWARDER_FAILURE
      - INSIDE_REALM_METRIC_THRESHOLD
      - OUTSIDE_REALM_METRIC_THRESHOLD
      - SYNC_FAILURE
      - TRIGGER_FAILURE
      - TRIGGER_AUTO_RESUMED
      example: DEPLOYMENT_FAILURE
      title: App Services Event Types
      type: string
    ResourceEventViewForOrg:
      description: Resource event reflects different activities about resources.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/ResourceEventTypeViewForOrg'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        resourceId:
          description: Unique 24-hexadecimal digit string that identifies the resource associated with the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        resourceType:
          description: Unique identifier of resource type.
          example: cluster
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      - resourceType
      title: Resource Events
      type: object
    ApiUserEventTypeViewForOrg:
      description: Unique identifier of event type.
      enum:
      - API_KEY_CREATED
      - API_KEY_DELETED
      - API_KEY_ACCESS_LIST_ENTRY_ADDED
      - API_KEY_ACCESS_LIST_ENTRY_DELETED
      - API_KEY_ROLES_CHANGED
      - API_KEY_DESCRIPTION_CHANGED
      - API_KEY_ADDED_TO_GROUP
      - API_KEY_REMOVED_FROM_GROUP
      - API_KEY_UI_IP_ACCESS_LIST_INHERITANCE_ENABLED
      - API_KEY_UI_IP_ACCESS_LIST_INHERITANCE_DISABLED
      example: API_KEY_CREATED
      title: API User Event Types
      type: string
    UserEventViewForNdsGroup:
      description: User event reflects different activities about the atlas user.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/UserEventTypeViewForNdsGroup'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        targetUsername:
          description: 'Email address for the console user that this event targets. The resource returns this parameter when `"eventTypeName" : "USER"`.'
          example: test.user@mongodb.com
          format: email
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: User Events
      type: object
    DataExplorerEvent:
      description: Data Explorer event tracks different Data Explorer operations.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          $ref: '#/components/schemas/DataExplorerEventTypeView'
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        sessionId:
          description: Unique 24-hexadecimal digit string that identifies the Data Explorer session associated with the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: Data Explorer Events
      type: object
    DefaultEventViewForOrg:
      description: Other events which don't have extra details beside of basic one.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
        eventTypeName:
          description: Unique identifier of event type.
          oneOf:
          - enum:
            - FEDERATION_SETTINGS_CREATED
            - FEDERATION_SETTINGS_DELETED
            - FEDERATION_SETTINGS_UPDATED
            - IDENTITY_PROVIDER_CREATED
            - IDENTITY_PROVIDER_UPDATED
            - IDENTITY_PROVIDER_DELETED
            - IDENTITY_PROVIDER_ACTIVATED
            - OIDC_IDENTITY_PROVIDER_UPDATED
            - IDENTITY_PROVIDER_DEACTIVATED
            - IDENTITY_PROVIDER_JWKS_REVOKED
            - OIDC_IDENTITY_PROVIDER_ENABLED
            - OIDC_IDENTITY_PROVIDER_DISABLED
            - DOMAINS_ASSOCIATED
            - DOMAIN_CREATED
            - DOMAIN_DELETED
            - DOMAIN_VERIFIED
            - ORG_SETTINGS_CONFIGURED
            - ORG_SETTINGS_UPDATED
            - ORG_SETTINGS_DELETED
            - RESTRICT_ORG_MEMBERSHIP_ENABLED
            - RESTRICT_ORG_MEMBERSHIP_DISABLED
            - ROLE_MAPPING_CREATED
            - ROLE_MAPPING_UPDATED
            - ROLE_MAPPING_DELETED
            title: Federation Settings Event Types
            type: string
          - enum:
            - GROUP_DELETED
            - GROUP_CREATED
            - GROUP_MOVED
            title: Group Audit Types
            type: string
          - enum:
            - MLAB_MIGRATION_COMPLETED
            - MLAB_MIGRATION_TARGET_CLUSTER_CREATED
            - MLAB_MIGRATION_DATABASE_USERS_IMPORTED
            - MLAB_MIGRATION_IP_WHITELIST_IMPORTED
            - MLAB_MIGRATION_TARGET_CLUSTER_SET
            - MLAB_MIGRATION_DATABASE_RENAMED
            - MLAB_MIGRATION_LIVE_IMPORT_STARTED
            - MLAB_MIGRATION_LIVE_IMPORT_READY_FOR_CUTOVER
            - MLAB_MIGRATION_LIVE_IMPORT_CUTOVER_COMPLETE
            - MLAB_MIGRATION_LIVE_IMPORT_ERROR
            - MLAB_MIGRATION_LIVE_IMPORT_CANCELLED
            - MLAB_MIGRATION_DUMP_AND_RESTORE_TEST_STARTED
            - MLAB_MIGRATION_DUMP_AND_RESTORE_TEST_SKIPPED
            - MLAB_MIGRATION_DUMP_AND_RESTORE_STARTED
            - MLAB_MIGRATION_SUPPORT_PLAN_SELECTED
            - MLAB_MIGRATION_SUPPORT_PLAN_OPTED_OUT
            title: Mlab Migration Audit Types
            type: string
          - enum:
            - AWS_SELF_SERVE_ACCOUNT_LINKED
            - AWS_SELF_SERVE_ACCOUNT_LINK_PENDING
            - AWS_SELF_SERVE_ACCOUNT_CANCELLED
            - AWS_SELF_SERVE_ACCOUNT_LINK_FAILED
            - GCP_SELF_SERVE_ACCOUNT_LINK_PENDING
            - GCP_SELF_SERVE_ACCOUNT_LINK_FAILED
            - AZURE_SELF_SERVE_ACCOUNT_LINKED
            - AZURE_SELF_SERVE_ACCOUNT_LINK_PENDING
            - AZURE_SELF_SERVE_ACCOUNT_CANCELLED
            - AZURE_SELF_SERVE_ACCOUNT_LINK_FAILED
            - GCP_SELF_SERVE_ACCOUNT_LINKED
            - GCP_SELF_SERVE_ACCOUNT_CANCELLED
            - VERCEL_SELF_SERVE_ACCOUNT_LINKED
            - VERCEL_SELF_SERVE_ACCOUNT_LINK_PENDING
            - VERCEL_SELF_SERVE_ACCOUNT_CANCELLED
            - VERCEL_SELF_SERVE_ACCOUNT_LINK_FAILED
            - VERCEL_INVOICE_CREATED
            - VERCEL_INVOICE_NOT_PAID
            - VERCEL_INVOICE_OVERDUE
            - VERCEL_INVOICE_PAID
            - VERCEL_INVOICE_REFUNDED
            title: Partner Event Types
            type: string
          - enum:
            - SUPPORT_EMAILS_SENT_SUCCESSFULLY
            - SUPPORT_EMAILS_SENT_FAILURE
            title: Support Event Types
            type: string
          - enum:
            - AI_MODELS_USAGE_TIER_UPDATED
            title: Ai Models Event Types
            type: string
          type: object
        groupId:
          description: Unique 24-hexadecimal digit string that identifies the project in which the event occurred. The `eventId` identifies the specific event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the event.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        isGlobalAdmin:
          description: Flag that indicates whether a MongoDB employee triggered the specified event.
          readOnly: true
          type: boolean
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        orgId:
          description: Unique 24-hexadecimal digit string that identifies the organization to which these events apply.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        publicKey:
          description: Public part of the API key that triggered the event. If this resource returns this parameter, it doesn't return the **username** parameter.
          externalDocs:
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          readOnly: true
          type: string
        raw:
          $ref: '#/components/schemas/raw'
        remoteAddress:
          description: IPv4 or IPv6 address from which the user triggered this event.
          example: 216.172.40.186
          pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)(\.(?!$)|$)){4}|([0-9a-f]{1,4}:){7}[0-9a-f]{1,4}$
          readOnly: true
          type: string
        userId:
          description: Unique 24-hexadecimal digit string that identifies the console user who triggered the event. If this resource returns this parameter, it doesn't return the `apiKeyId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        username:
          description: Email address for the user who triggered this event. If this resource returns this parameter, it doesn't return the `publicApiKey` parameter.
          format: email
          readOnly: true
          type: string
      required:
      - created
      - eventTypeName
      - id
      title: Any Other Events
      type: object
    FTSIndexAuditView:
      description: FTS index audit indicates any activities about search index.
      properties:
        apiKeyId:
          description: Unique 24-hexadecimal digit string that identifies the API Key that triggered the event. If this resource returns this parameter, it doesn't return the `userId` parameter.
          example: 32b6e34b3d91647abb20e7b8
          externalDocs:
            description: Create Programmatic API Key
            url: https://dochub.mongodb.org/core/atlas-create-prog-api-key
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        created:
          description: Date and time when this event occurred. This parameter expresses its value in the ISO 8601 timestamp format in UTC.
          externalDocs:
            description: ISO 8601
            url: https://en.wikipedia.org/wiki/ISO_8601
          format: date-time
          readOnly: true
          type: string
[...]
