openapi: 3.0.1
info:
  description: "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API supports OAuth2 Service Accounts and HTTP Digest-based API keys. Service accounts are the recommended authentication method and API keys are considered a legacy option.\n\nTo authenticate with a Service Account, first exchange its client ID and secret for an access token using the OAuth 2.0 Client Credentials flow. Atlas provides a token endpoint at `POST https://cloud.mongodb.com/api/oauth/token`, which returns a Bearer token that is reusable and valid for 1 hour (3600 seconds).\n\nFor example, to [return a list of your organizations](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listorgs) with [cURL](https://en.wikipedia.org/wiki/CURL), first generate an access token and then use that token to call the same Atlas Administration API endpoint shown in the current example:\n\n```\nACCESS_TOKEN=$(curl -fsS --request POST https://cloud.mongodb.com/api/oauth/token \\\n  --header \"Authorization: Basic $(printf '%s' \"${CLIENT_ID}:${CLIENT_SECRET}\" | base64 | tr -d '\\n')\" \\\n  --header \"Content-Type: application/x-www-form-urlencoded\" \\\n  --header \"Accept: application/json\" \\\n  --data \"grant_type=client_credentials\" | jq -r '.access_token')\n\ncurl --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/orgs?pretty=true\"\n```\n\nIf your organization requires an IP access list for the Atlas Administration API, the token can be created from any IP address, but the API call that uses the token must originate from an allowed IP.\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).\n\nYou can also explore the various endpoints available through the Atlas Administration API in MongoDB's [Postman workspace](https://www.postman.com/mongodb-devrel/workspace/mongodb-atlas-administration-apis/) (requires a Postman account)."
  license:
    name: CC BY-NC-SA 3.0 US
    url: https://creativecommons.org/licenses/by-nc-sa/3.0/us/
  termsOfService: https://www.mongodb.com/mongodb-management-service-terms-and-conditions
  title: MongoDB Atlas Administration Access Tracking Encryption at Rest using Customer Key Management API
  version: '2.0'
  x-xgen-sha: 3d70e065843c008b9871ea7836c98c9de6f202f9
servers:
- url: https://cloud.mongodb.com
security:
- ServiceAccounts: []
- DigestAuth: []
tags:
- description: Returns and edits the Encryption at Rest using Customer Key Management configuration. MongoDB Cloud encrypts all storage whether or not you use your own key management.
  name: Encryption at Rest using Customer Key Management
paths:
  /api/atlas/v2/groups/{groupId}/encryptionAtRest:
    get:
      description: 'Returns the configuration for encryption at rest using the keys you manage through your cloud provider. MongoDB Cloud encrypts all storage even if you don''t use your own key management. This resource requires the requesting Service Account or API Key to have the Project Owner role.


        **LIMITED TO M10 OR GREATER:** MongoDB Cloud limits this feature to dedicated cluster tiers of M10 and greater.'
      operationId: getGroupEncryptionAtRest
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/EncryptionAtRest'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Configuration for Encryption at Rest Using Customer-Managed Keys for One Project
      tags:
      - Encryption at Rest using Customer Key Management
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api encryptionAtRestUsingCustomerKeyManagement getEncryptionAtRest --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupEncryptionAtRestApiParams{}\n\tsdkResp, httpResp, err := client.EncryptionatRestusingCustomerKeyManagementApi.\n\t\tGetGroupEncryptionAtRestWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest?pretty=true\""
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Encryption-at-Rest-using-Customer-Key-Management/operation/getGroupEncryptionAtRest
      x-xgen-operation-id-override: getEncryptionAtRest
    patch:
      description: "Updates the configuration for encryption at rest using the keys you manage through your cloud provider. MongoDB Cloud encrypts all storage even if you don't use your own key management. This resource requires the requesting Service Account or API Key to have the Project Owner role. This feature isn't available for `M0` free clusters, `M2`, `M5`, or serverless clusters.\n\n After you configure at least one Encryption at Rest using a Customer Key Management provider for the MongoDB Cloud project, Project Owners can enable Encryption at Rest using Customer Key Management for each MongoDB Cloud cluster for which they require encryption. The Encryption at Rest using Customer Key Management provider doesn't have to match the cluster cloud service provider. MongoDB Cloud doesn't automatically rotate user-managed encryption keys. Defer to your preferred Encryption at Rest using Customer Key Management provider's documentation and guidance for best practices on key rotation. MongoDB Cloud automatically creates a 90-day key rotation alert when you configure Encryption at Rest using Customer Key Management using your Key Management in an MongoDB Cloud project. MongoDB Cloud encrypts all storage whether or not you use your own key management."
      operationId: updateGroupEncryptionAtRest
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/EncryptionAtRest'
        description: 'Required parameters depend on whether someone has enabled Encryption at Rest using Customer Key Management:


          If you have enabled Encryption at Rest using Customer Key Management (CMK), Atlas requires all of the parameters for the desired encryption provider.


          - To use AWS Key Management Service (KMS), MongoDB Cloud requires all the fields in the `awsKms` object.

          - To use Azure Key Vault, MongoDB Cloud requires all the fields in the `azureKeyVault` object.

          - To use Google Cloud Key Management Service (KMS), MongoDB Cloud requires all the fields in the `googleCloudKms` object For authentication, you must provide either `serviceAccountKey` (static credentials) or `roleId` (service-account–based authentication) Once `roleId` is configured, `serviceAccountKey` is no longer supported.


          If you enabled Encryption at Rest using Customer Key Management, administrators can pass only the changed fields for the `awsKms`, `azureKeyVault`, or `googleCloudKms` object to update the configuration to this endpoint.'
        required: true
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/EncryptionAtRest'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Update Encryption at Rest Configuration in One Project
      tags:
      - Encryption at Rest using Customer Key Management
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api encryptionAtRestUsingCustomerKeyManagement updateEncryptionAtRest --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.UpdateGroupEncryptionAtRestApiParams{}\n\tsdkResp, httpResp, err := client.EncryptionatRestusingCustomerKeyManagementApi.\n\t\tUpdateGroupEncryptionAtRestWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X PATCH \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Encryption-at-Rest-using-Customer-Key-Management/operation/updateGroupEncryptionAtRest
      x-xgen-operation-id-override: updateEncryptionAtRest
  /api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints:
    get:
      description: Returns the private endpoints of the specified cloud provider for encryption at rest using customer key management.
      operationId: listGroupEncryptionAtRestPrivateEndpoints
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - $ref: '#/components/parameters/includeCount'
      - $ref: '#/components/parameters/itemsPerPage'
      - $ref: '#/components/parameters/pageNum'
      - description: Human-readable label that identifies the cloud provider for the private endpoints to return.
        in: path
        name: cloudProvider
        required: true
        schema:
          enum:
          - AZURE
          - AWS
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedApiAtlasEARPrivateEndpointView'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return Private Endpoints for Encryption at Rest Using Customer Key Management for One Cloud Provider in One Project
      tags:
      - Encryption at Rest using Customer Key Management
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api encryptionAtRestUsingCustomerKeyManagement listRestPrivateEndpoints --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.ListGroupEncryptionAtRestPrivateEndpointsApiParams{}\n\tsdkResp, httpResp, err := client.EncryptionatRestusingCustomerKeyManagementApi.\n\t\tListGroupEncryptionAtRestPrivateEndpointsWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints?pretty=true\""
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Encryption-at-Rest-using-Customer-Key-Management/operation/listGroupEncryptionAtRestPrivateEndpoints
      x-xgen-operation-id-override: listRestPrivateEndpoints
    post:
      description: Creates a private endpoint in the specified region for encryption at rest using customer key management.
      operationId: createGroupEncryptionAtRestPrivateEndpoint
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the cloud provider for the private endpoint to create.
        in: path
        name: cloudProvider
        required: true
        schema:
          enum:
          - AZURE
          - AWS
          type: string
      requestBody:
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: '#/components/schemas/EARPrivateEndpoint'
        description: Creates a private endpoint in the specified region.
        required: true
      responses:
        '202':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/EARPrivateEndpoint'
              x-xgen-version: '2023-01-01'
          description: Accepted
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Create One Private Endpoint for Encryption at Rest Using Customer Key Management for One Cloud Provider in One Project
      tags:
      - Encryption at Rest using Customer Key Management
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api encryptionAtRestUsingCustomerKeyManagement createRestPrivateEndpoint --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.CreateGroupEncryptionAtRestPrivateEndpointApiParams{}\n\tsdkResp, httpResp, err := client.EncryptionatRestusingCustomerKeyManagementApi.\n\t\tCreateGroupEncryptionAtRestPrivateEndpointWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints\" \\\n  -d '{ <Payload> }'"
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  --header \"Content-Type: application/json\" \\\n  -X POST \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints\" \\\n  -d '{ <Payload> }'"
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Encryption-at-Rest-using-Customer-Key-Management/operation/createGroupEncryptionAtRestPrivateEndpoint
      x-xgen-operation-id-override: createRestPrivateEndpoint
  /api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints/{endpointId}:
    delete:
      description: Deletes one private endpoint, identified by its ID, for encryption at rest using Customer Key Management.
      operationId: requestGroupEncryptionAtRestPrivateEndpointDeletion
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the cloud provider of the private endpoint to delete.
        in: path
        name: cloudProvider
        required: true
        schema:
          enum:
          - AZURE
          - AWS
          type: string
      - description: Unique 24-hexadecimal digit string that identifies the private endpoint to delete.
        in: path
        name: endpointId
        required: true
        schema:
          pattern: ^([a-f0-9]{24})$
          type: string
      responses:
        '204':
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: '2023-01-01'
          description: This endpoint does not return a response body.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Delete One Private Endpoint for Encryption at Rest Using Customer Key Management for One Cloud Provider from One Project
      tags:
      - Encryption at Rest using Customer Key Management
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api encryptionAtRestUsingCustomerKeyManagement requestPrivateEndpointDeletion --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.RequestGroupEncryptionAtRestPrivateEndpointDeletionApiParams{}\n\thttpResp, err := client.EncryptionatRestusingCustomerKeyManagementApi.\n\t\tRequestGroupEncryptionAtRestPrivateEndpointDeletionWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints/{endpointId}\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X DELETE \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints/{endpointId}\""
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Encryption-at-Rest-using-Customer-Key-Management/operation/requestGroupEncryptionAtRestPrivateEndpointDeletion
      x-xgen-method-verb-override:
        customMethod: 'True'
        verb: requestDeletion
      x-xgen-operation-id-override: requestPrivateEndpointDeletion
    get:
      description: Returns one private endpoint, identified by its ID, for encryption at rest using Customer Key Management.
      operationId: getGroupEncryptionAtRestPrivateEndpoint
      parameters:
      - $ref: '#/components/parameters/envelope'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/groupId'
      - description: Human-readable label that identifies the cloud provider of the private endpoint.
        in: path
        name: cloudProvider
        required: true
        schema:
          enum:
          - AZURE
          - AWS
          type: string
      - description: Unique 24-hexadecimal digit string that identifies the private endpoint.
        in: path
        name: endpointId
        required: true
        schema:
          pattern: ^([a-f0-9]{24})$
          type: string
      responses:
        '200':
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/EARPrivateEndpoint'
              x-xgen-version: '2023-01-01'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/HeaderRateLimitLimit'
            RateLimit-Remaining:
              $ref: '#/components/headers/HeaderRateLimitRemaining'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Return One Private Endpoint for Encryption at Rest Using Customer Key Management for One Cloud Provider in One Project
      tags:
      - Encryption at Rest using Customer Key Management
      x-codeSamples:
      - lang: cURL
        label: Atlas CLI
        source: atlas api encryptionAtRestUsingCustomerKeyManagement getRestPrivateEndpoint --help
      - lang: go
        label: Go
        source: "import (\n\t\"os\"\n\t\"context\"\n\t\"log\"\n\tsdk \"go.mongodb.org/atlas-sdk/v20250312001/admin\"\n)\n\nfunc main() {\n\tctx := context.Background()\n\tclientID := os.Getenv(\"MONGODB_ATLAS_CLIENT_ID\")\n\tclientSecret := os.Getenv(\"MONGODB_ATLAS_CLIENT_SECRET\")\n\n\t// See https://dochub.mongodb.org/core/atlas-go-sdk-oauth\n\tclient, err := sdk.NewClient(sdk.UseOAuthAuth(clientID, clientSecret))\n\n\tif err != nil {\n\t\tlog.Fatalf(\"Error: %v\", err)\n\t}\n\n\tparams = &sdk.GetGroupEncryptionAtRestPrivateEndpointApiParams{}\n\tsdkResp, httpResp, err := client.EncryptionatRestusingCustomerKeyManagementApi.\n\t\tGetGroupEncryptionAtRestPrivateEndpointWithParams(ctx, params).\n\t\tExecute()\n}\n"
      - lang: cURL
        label: curl (Service Accounts)
        source: "curl --include --header \"Authorization: Bearer ${ACCESS_TOKEN}\" \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints/{endpointId}?pretty=true\""
      - lang: cURL
        label: curl (Digest)
        source: "curl --user \"${PUBLIC_KEY}:${PRIVATE_KEY}\" \\\n  --digest --include \\\n  --header \"Accept: application/vnd.atlas.2025-03-12+json\" \\\n  -X GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/encryptionAtRest/{cloudProvider}/privateEndpoints/{endpointId}?pretty=true\""
      x-rolesRequirements:
      - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Encryption-at-Rest-using-Customer-Key-Management/operation/getGroupEncryptionAtRestPrivateEndpoint
      x-xgen-operation-id-override: getRestPrivateEndpoint
components:
  schemas:
    AWSKMSConfiguration:
      description: Amazon Web Services (AWS) KMS configuration details and encryption at rest configuration set for the specified project.
      externalDocs:
        description: Amazon Web Services Key Management Service
        url: https://www.mongodb.com/docs/atlas/security-aws-kms/
      properties:
        accessKeyID:
          description: Unique alphanumeric string that identifies an Identity and Access Management (IAM) access key with permissions required to access your Amazon Web Services (AWS) Customer Master Key (CMK).
          example: 019dd98d94b4bb778e7552e4
          maxLength: 128
          minLength: 16
          type: string
        customerMasterKeyID:
          description: Unique alphanumeric string that identifies the Amazon Web Services (AWS) Customer Master Key (CMK) you used to encrypt and decrypt the MongoDB master keys.
          maxLength: 2048
          minLength: 1
          type: string
        enabled:
          description: Flag that indicates whether someone enabled encryption at rest for the specified project through Amazon Web Services (AWS) Key Management Service (KMS). To disable encryption at rest using customer key management and remove the configuration details, pass only this parameter with a value of `false`.
          type: boolean
        region:
          description: Physical location where MongoDB Cloud deploys your AWS-hosted MongoDB cluster nodes. The region you choose can affect network latency for clients accessing your databases. When MongoDB Cloud deploys a dedicated cluster, it checks if a VPC or VPC connection exists for that provider and region. If not, MongoDB Cloud creates them as part of the deployment. MongoDB Cloud assigns the VPC a CIDR block. To limit a new VPC peering connection to one CIDR block and region, create the connection first. Deploy the cluster after the connection starts.
          enum:
          - US_GOV_WEST_1
          - US_GOV_EAST_1
          - US_EAST_1
          - US_EAST_2
          - US_WEST_1
          - US_WEST_2
          - CA_CENTRAL_1
          - EU_NORTH_1
          - EU_WEST_1
          - EU_WEST_2
          - EU_WEST_3
          - EU_CENTRAL_1
          - EU_CENTRAL_2
          - AP_EAST_1
          - AP_EAST_2
          - AP_NORTHEAST_1
          - AP_NORTHEAST_2
          - AP_NORTHEAST_3
          - AP_SOUTHEAST_1
          - AP_SOUTHEAST_2
          - AP_SOUTHEAST_3
          - AP_SOUTHEAST_4
          - AP_SOUTHEAST_5
          - AP_SOUTHEAST_6
          - AP_SOUTHEAST_7
          - AP_SOUTH_1
          - AP_SOUTH_2
          - SA_EAST_1
          - CN_NORTH_1
          - CN_NORTHWEST_1
          - ME_SOUTH_1
          - ME_CENTRAL_1
          - AF_SOUTH_1
          - EU_SOUTH_1
          - EU_SOUTH_2
          - IL_CENTRAL_1
          - CA_WEST_1
          - MX_CENTRAL_1
          - GLOBAL
          title: AWS Regions
          type: string
        requirePrivateNetworking:
          description: Enable connection to your Amazon Web Services (AWS) Key Management Service (KMS) over private networking.
          type: boolean
        roleId:
          description: Unique 24-hexadecimal digit string that identifies an Amazon Web Services (AWS) Identity and Access Management (IAM) role. This IAM role has the permissions required to manage your AWS customer master key.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
          writeOnly: true
        secretAccessKey:
          description: Human-readable label of the Identity and Access Management (IAM) secret access key with permissions required to access your Amazon Web Services (AWS) customer master key.
          type: string
          writeOnly: true
        valid:
          description: Flag that indicates whether the Amazon Web Services (AWS) Key Management Service (KMS) encryption key can encrypt and decrypt data.
          readOnly: true
          type: boolean
      type: object
    Link:
      properties:
        href:
          description: Uniform Resource Locator (URL) that points another API resource to which this response has some relationship. This URL often begins with `https://cloud.mongodb.com/api/atlas`.
          example: https://cloud.mongodb.com/api/atlas
          type: string
        rel:
          description: Uniform Resource Locator (URL) that defines the semantic relationship between this resource and another API resource. This URL often begins with `https://cloud.mongodb.com/api/atlas`.
          example: self
          type: string
      type: object
    ApiError:
      properties:
        badRequestDetail:
          $ref: '#/components/schemas/BadRequestDetail'
        detail:
          description: Describes the specific conditions or reasons that cause each type of error.
          type: string
        error:
          description: HTTP status code returned with this error.
          externalDocs:
            url: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
          format: int32
          readOnly: true
          type: integer
        errorCode:
          description: Application error code returned with this error.
          readOnly: true
          type: string
        parameters:
          description: Parameters used to give more information about the error.
          items:
            type: object
          readOnly: true
          type: array
        reason:
          description: Application error message returned with this error.
          readOnly: true
          type: string
      required:
      - error
      - errorCode
      type: object
    AzureKeyVault:
      description: Details that define the configuration of Encryption at Rest using Azure Key Vault (AKV).
      externalDocs:
        description: Azure Key Vault
        url: https://www.mongodb.com/docs/atlas/security-azure-kms/
      properties:
        azureEnvironment:
          description: Azure environment in which your account credentials reside.
          enum:
          - AZURE
          - AZURE_CHINA
          - AZURE_US_GOVERNMENT
          type: string
        clientID:
          description: Unique 36-hexadecimal character string that identifies an Azure application associated with your Azure Active Directory tenant.
          format: uuid
          type: string
        enabled:
          description: Flag that indicates whether someone enabled encryption at rest for the specified  project. To disable encryption at rest using customer key management and remove the configuration details, pass only this parameter with a value of `false`.
          type: boolean
        keyIdentifier:
          description: Web address with a unique key that identifies for your Azure Key Vault.
          example: https://EXAMPLEKeyVault.vault.azure.net/keys/EXAMPLEKey/d891821e3d364e9eb88fbd3d11807b86
          type: string
        keyVaultName:
          description: Unique string that identifies the Azure Key Vault that contains your key. This field cannot be modified when you enable and set up private endpoint connections to your Azure Key Vault.
          type: string
        requirePrivateNetworking:
          description: Enable connection to your Azure Key Vault over private networking.
          type: boolean
        resourceGroupName:
          description: Name of the Azure resource group that contains your Azure Key Vault. This field cannot be modified when you enable and set up private endpoint connections to your Azure Key Vault.
          type: string
        roleId:
          description: Unique 24-hexadecimal digit string that identifies the Azure Service Principal that MongoDB Cloud uses to access the Azure Key Vault.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
        secret:
          description: Private data that you need secured and that belongs to the specified Azure Key Vault (AKV) tenant (`azureKeyVault.tenantID`). This data can include any type of sensitive data such as passwords, database connection strings, API keys, and the like. AKV stores this information as encrypted binary data.
          externalDocs:
            description: Azure Key Vault Secrets
            url: https://docs.microsoft.com/en-us/azure/key-vault/secrets/about-secrets
          type: string
          writeOnly: true
        subscriptionID:
          description: Unique 36-hexadecimal character string that identifies your Azure subscription. This field cannot be modified when you enable and set up private endpoint connections to your Azure Key Vault.
          format: uuid
          type: string
        tenantID:
          description: Unique 36-hexadecimal character string that identifies the Azure Active Directory tenant within your Azure subscription.
          format: uuid
          type: string
        valid:
          description: Flag that indicates whether the Azure encryption key can encrypt and decrypt data.
          readOnly: true
          type: boolean
      type: object
    EncryptionAtRest:
      properties:
        awsKms:
          $ref: '#/components/schemas/AWSKMSConfiguration'
        azureKeyVault:
          $ref: '#/components/schemas/AzureKeyVault'
        enabledForSearchNodes:
          description: Flag that indicates whether Encryption at Rest for Dedicated Search Nodes is enabled in the specified project.
          type: boolean
        googleCloudKms:
          $ref: '#/components/schemas/GoogleCloudKMS'
      type: object
    BadRequestDetail:
      description: Bad request detail.
      properties:
        fields:
          description: Describes all violations in a client request.
          items:
            $ref: '#/components/schemas/FieldViolation'
          type: array
      readOnly: true
      type: object
    AzureKeyVaultEARPrivateEndpoint:
      description: Azure Key Vault Encryption At Rest Private Endpoint.
      properties:
        cloudProvider:
          description: Human-readable label that identifies the cloud provider for the Encryption At Rest private endpoint.
          enum:
          - AZURE
          - AWS
          readOnly: true
          type: string
        errorMessage:
          description: Error message for failures associated with the Encryption At Rest private endpoint.
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the Private Endpoint Service.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        privateEndpointConnectionName:
          description: Connection name of the Azure Private Endpoint.
          readOnly: true
          type: string
        regionName:
          description: Cloud provider region in which the Encryption At Rest private endpoint is located.
          oneOf:
          - description: Microsoft Azure Regions.
            enum:
            - US_CENTRAL
            - US_EAST
            - US_EAST_2
            - US_NORTH_CENTRAL
            - US_WEST
            - US_SOUTH_CENTRAL
            - EUROPE_NORTH
            - EUROPE_WEST
            - US_WEST_CENTRAL
            - US_WEST_2
            - US_WEST_3
            - CANADA_EAST
            - CANADA_CENTRAL
            - BRAZIL_SOUTH
            - BRAZIL_SOUTHEAST
            - AUSTRALIA_CENTRAL
            - AUSTRALIA_CENTRAL_2
            - AUSTRALIA_EAST
            - AUSTRALIA_SOUTH_EAST
            - GERMANY_WEST_CENTRAL
            - GERMANY_NORTH
            - SWEDEN_CENTRAL
            - SWEDEN_SOUTH
            - SWITZERLAND_NORTH
            - SWITZERLAND_WEST
            - UK_SOUTH
            - UK_WEST
            - NORWAY_EAST
            - NORWAY_WEST
            - INDIA_CENTRAL
            - INDIA_SOUTH
            - INDIA_WEST
            - CHINA_EAST
            - CHINA_NORTH
            - ASIA_EAST
            - JAPAN_EAST
            - JAPAN_WEST
            - ASIA_SOUTH_EAST
            - KOREA_CENTRAL
            - KOREA_SOUTH
            - FRANCE_CENTRAL
            - FRANCE_SOUTH
            - SOUTH_AFRICA_NORTH
            - SOUTH_AFRICA_WEST
            - UAE_CENTRAL
            - UAE_NORTH
            - QATAR_CENTRAL
            - POLAND_CENTRAL
            - ISRAEL_CENTRAL
            - ITALY_NORTH
            - SPAIN_CENTRAL
            - MEXICO_CENTRAL
            - NEW_ZEALAND_NORTH
            - US_GOV_VIRGINIA
            - US_GOV_ARIZONA
            - US_GOV_TEXAS
            title: Azure Regions
            type: string
          - description: Physical location where MongoDB Cloud deploys your AWS-hosted MongoDB cluster nodes. The region you choose can affect network latency for clients accessing your databases. When MongoDB Cloud deploys a dedicated cluster, it checks if a VPC or VPC connection exists for that provider and region. If not, MongoDB Cloud creates them as part of the deployment. MongoDB Cloud assigns the VPC a CIDR block. To limit a new VPC peering connection to one CIDR block and region, create the connection first. Deploy the cluster after the connection starts.
            enum:
            - US_GOV_WEST_1
            - US_GOV_EAST_1
            - US_EAST_1
            - US_EAST_2
            - US_WEST_1
            - US_WEST_2
            - CA_CENTRAL_1
            - EU_NORTH_1
            - EU_WEST_1
            - EU_WEST_2
            - EU_WEST_3
            - EU_CENTRAL_1
            - EU_CENTRAL_2
            - AP_EAST_1
            - AP_EAST_2
            - AP_NORTHEAST_1
            - AP_NORTHEAST_2
            - AP_NORTHEAST_3
            - AP_SOUTHEAST_1
            - AP_SOUTHEAST_2
            - AP_SOUTHEAST_3
            - AP_SOUTHEAST_4
            - AP_SOUTHEAST_5
            - AP_SOUTHEAST_6
            - AP_SOUTHEAST_7
            - AP_SOUTH_1
            - AP_SOUTH_2
            - SA_EAST_1
            - CN_NORTH_1
            - CN_NORTHWEST_1
            - ME_SOUTH_1
            - ME_CENTRAL_1
            - AF_SOUTH_1
            - EU_SOUTH_1
            - EU_SOUTH_2
            - IL_CENTRAL_1
            - CA_WEST_1
            - MX_CENTRAL_1
            - GLOBAL
            title: AWS Regions
            type: string
          type: object
        status:
          description: State of the Encryption At Rest private endpoint.
          enum:
          - INITIATING
          - PENDING_ACCEPTANCE
          - ACTIVE
          - FAILED
          - PENDING_RECREATION
          - DELETING
          readOnly: true
          type: string
      title: Azure Key Vault EAR Private Endpoint
      type: object
    AWSKMSEARPrivateEndpoint:
      description: AWS Key Management Service Encryption At Rest Private Endpoint.
      properties:
        cloudProvider:
          description: Human-readable label that identifies the cloud provider for the Encryption At Rest private endpoint.
          enum:
          - AZURE
          - AWS
          readOnly: true
          type: string
        errorMessage:
          description: Error message for failures associated with the Encryption At Rest private endpoint.
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the Private Endpoint Service.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        privateEndpointConnectionName:
          description: Resource Id of the Aws Private Endpoint.
          readOnly: true
          type: string
        regionName:
          description: Cloud provider region in which the Encryption At Rest private endpoint is located.
          oneOf:
          - description: Microsoft Azure Regions.
            enum:
            - US_CENTRAL
            - US_EAST
            - US_EAST_2
            - US_NORTH_CENTRAL
            - US_WEST
            - US_SOUTH_CENTRAL
            - EUROPE_NORTH
            - EUROPE_WEST
            - US_WEST_CENTRAL
            - US_WEST_2
            - US_WEST_3
            - CANADA_EAST
            - CANADA_CENTRAL
            - BRAZIL_SOUTH
            - BRAZIL_SOUTHEAST
            - AUSTRALIA_CENTRAL
            - AUSTRALIA_CENTRAL_2
            - AUSTRALIA_EAST
            - AUSTRALIA_SOUTH_EAST
            - GERMANY_WEST_CENTRAL
            - GERMANY_NORTH
            - SWEDEN_CENTRAL
            - SWEDEN_SOUTH
            - SWITZERLAND_NORTH
            - SWITZERLAND_WEST
            - UK_SOUTH
            - UK_WEST
            - NORWAY_EAST
            - NORWAY_WEST
            - INDIA_CENTRAL
            - INDIA_SOUTH
            - INDIA_WEST
            - CHINA_EAST
            - CHINA_NORTH
            - ASIA_EAST
            - JAPAN_EAST
            - JAPAN_WEST
            - ASIA_SOUTH_EAST
            - KOREA_CENTRAL
            - KOREA_SOUTH
            - FRANCE_CENTRAL
            - FRANCE_SOUTH
            - SOUTH_AFRICA_NORTH
            - SOUTH_AFRICA_WEST
            - UAE_CENTRAL
            - UAE_NORTH
            - QATAR_CENTRAL
            - POLAND_CENTRAL
            - ISRAEL_CENTRAL
            - ITALY_NORTH
            - SPAIN_CENTRAL
            - MEXICO_CENTRAL
            - NEW_ZEALAND_NORTH
            - US_GOV_VIRGINIA
            - US_GOV_ARIZONA
            - US_GOV_TEXAS
            title: Azure Regions
            type: string
          - description: Physical location where MongoDB Cloud deploys your AWS-hosted MongoDB cluster nodes. The region you choose can affect network latency for clients accessing your databases. When MongoDB Cloud deploys a dedicated cluster, it checks if a VPC or VPC connection exists for that provider and region. If not, MongoDB Cloud creates them as part of the deployment. MongoDB Cloud assigns the VPC a CIDR block. To limit a new VPC peering connection to one CIDR block and region, create the connection first. Deploy the cluster after the connection starts.
            enum:
            - US_GOV_WEST_1
            - US_GOV_EAST_1
            - US_EAST_1
            - US_EAST_2
            - US_WEST_1
            - US_WEST_2
            - CA_CENTRAL_1
            - EU_NORTH_1
            - EU_WEST_1
            - EU_WEST_2
            - EU_WEST_3
            - EU_CENTRAL_1
            - EU_CENTRAL_2
            - AP_EAST_1
            - AP_EAST_2
            - AP_NORTHEAST_1
            - AP_NORTHEAST_2
            - AP_NORTHEAST_3
            - AP_SOUTHEAST_1
            - AP_SOUTHEAST_2
            - AP_SOUTHEAST_3
            - AP_SOUTHEAST_4
            - AP_SOUTHEAST_5
            - AP_SOUTHEAST_6
            - AP_SOUTHEAST_7
            - AP_SOUTH_1
            - AP_SOUTH_2
            - SA_EAST_1
            - CN_NORTH_1
            - CN_NORTHWEST_1
            - ME_SOUTH_1
            - ME_CENTRAL_1
            - AF_SOUTH_1
            - EU_SOUTH_1
            - EU_SOUTH_2
            - IL_CENTRAL_1
            - CA_WEST_1
            - MX_CENTRAL_1
            - GLOBAL
            title: AWS Regions
            type: string
          type: object
        status:
          description: State of the Encryption At Rest private endpoint.
          enum:
          - INITIATING
          - PENDING_ACCEPTANCE
          - ACTIVE
          - FAILED
          - PENDING_RECREATION
          - DELETING
          readOnly: true
          type: string
      title: AWS Key Management Service EAR Private Endpoint
      type: object
    FieldViolation:
      properties:
        description:
          description: A description of why the request element is bad.
          type: string
        field:
          description: A path that leads to a field in the request body.
          type: string
      required:
      - description
      - field
      type: object
    GoogleCloudKMS:
      description: Details that define the configuration of Encryption at Rest using Google Cloud Key Management Service (KMS).
      externalDocs:
        description: Google Cloud Key Management Service
        url: https://www.mongodb.com/docs/atlas/security-gcp-kms/
      properties:
        enabled:
          description: Flag that indicates whether someone enabled encryption at rest for the specified  project. To disable encryption at rest using customer key management and remove the configuration details, pass only this parameter with a value of `false`.
          type: boolean
        keyVersionResourceID:
          description: Resource path that displays the key version resource ID for your Google Cloud KMS.
          example: projects/my-project-common-0/locations/us-east4/keyRings/my-key-ring-0/cryptoKeys/my-key-0/cryptoKeyVersions/1
          type: string
        roleId:
          description: Unique 24-hexadecimal digit string that identifies the Google Cloud Provider Access Role that MongoDB Cloud uses to access the Google Cloud KMS.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          type: string
        serviceAccountKey:
          description: JavaScript Object Notation (JSON) object that contains the Google Cloud Key Management Service (KMS). Format the JSON as a string and not as an object.
          externalDocs:
            description: Google Cloud Authentication
            url: https://cloud.google.com/docs/authentication/getting-started
          type: string
          writeOnly: true
        valid:
          description: Flag that indicates whether the Google Cloud Key Management Service (KMS) encryption key can encrypt and decrypt data.
          readOnly: true
          type: boolean
      type: object
    EARPrivateEndpoint:
      description: Encryption At Rest Private Endpoint.
      discriminator:
        mapping:
          AWS: '#/components/schemas/AWSKMSEARPrivateEndpoint'
          AZURE: '#/components/schemas/AzureKeyVaultEARPrivateEndpoint'
        propertyName: cloudProvider
      oneOf:
      - $ref: '#/components/schemas/AzureKeyVaultEARPrivateEndpoint'
      - $ref: '#/components/schemas/AWSKMSEARPrivateEndpoint'
      properties:
        cloudProvider:
          description: Human-readable label that identifies the cloud provider for the Encryption At Rest private endpoint.
          enum:
          - AZURE
          - AWS
          readOnly: true
          type: string
        errorMessage:
          description: Error message for failures associated with the Encryption At Rest private endpoint.
          readOnly: true
          type: string
        id:
          description: Unique 24-hexadecimal digit string that identifies the Private Endpoint Service.
          example: 32b6e34b3d91647abb20e7b8
          pattern: ^([a-f0-9]{24})$
          readOnly: true
          type: string
        regionName:
          description: Cloud provider region in which the Encryption At Rest private endpoint is located.
          oneOf:
          - description: Microsoft Azure Regions.
            enum:
            - US_CENTRAL
            - US_EAST
            - US_EAST_2
            - US_NORTH_CENTRAL
            - US_WEST
            - US_SOUTH_CENTRAL
            - EUROPE_NORTH
            - EUROPE_WEST
            - US_WEST_CENTRAL
            - US_WEST_2
            - US_WEST_3
            - CANADA_EAST
            - CANADA_CENTRAL
            - BRAZIL_SOUTH
            - BRAZIL_SOUTHEAST
            - AUSTRALIA_CENTRAL
            - AUSTRALIA_CENTRAL_2
            - AUSTRALIA_EAST
            - AUSTRALIA_SOUTH_EAST
            - GERMANY_WEST_CENTRAL
            - GERMANY_NORTH
            - SWEDEN_CENTRAL
            - SWEDEN_SOUTH
            - SWITZERLAND_NORTH
            - SWITZERLAND_WEST
            - UK_SOUTH
            - UK_WEST
            - NORWAY_EAST
            - NORWAY_WEST
            - INDIA_CENTRAL
            - INDIA_SOUTH
            - INDIA_WEST
            - CHINA_EAST
            - CHINA_NORTH
            - ASIA_EAST
            - JAPAN_EAST
            - JAPAN_WEST
            - ASIA_SOUTH_EAST
            - KOREA_CENTRAL
            - KOREA_SOUTH
            - FRANCE_CENTRAL
            - FRANCE_SOUTH
            - SOUTH_AFRICA_NORTH
            - SOUTH_AFRICA_WEST
            - UAE_CENTRAL
            - UAE_NORTH
            - QATAR_CENTRAL
            - POLAND_CENTRAL
            - ISRAEL_CENTRAL
            - ITALY_NORTH
            - SPAIN_CENTRAL
            - MEXICO_CENTRAL
            - NEW_ZEALAND_NORTH
            - US_GOV_VIRGINIA
            - US_GOV_ARIZONA
            - US_GOV_TEXAS
            title: Azure Regions
            type: string
          - description: Physical location where MongoDB Cloud deploys your AWS-hosted MongoDB cluster nodes. The region you choose can affect network latency for clients accessing your databases. When MongoDB Cloud deploys a dedicated cluster, it checks if a VPC or VPC connection exists for that provider and region. If not, MongoDB Cloud creates them as part of the deployment. MongoDB Cloud assigns the VPC a CIDR block. To limit a new VPC peering connection to one CIDR block and region, create the connection first. Deploy the cluster after the connection starts.
            enum:
            - US_GOV_WEST_1
            - US_GOV_EAST_1
            - US_EAST_1
            - US_EAST_2
            - US_WEST_1
            - US_WEST_2
            - CA_CENTRAL_1
            - EU_NORTH_1
            - EU_WEST_1
            - EU_WEST_2
            - EU_WEST_3
            - EU_CENTRAL_1
            - EU_CENTRAL_2
            - AP_EAST_1
            - AP_EAST_2
            - AP_NORTHEAST_1
            - AP_NORTHEAST_2
            - AP_NORTHEAST_3
            - AP_SOUTHEAST_1
            - AP_SOUTHEAST_2
            - AP_SOUTHEAST_3
            - AP_SOUTHEAST_4
            - AP_SOUTHEAST_5
            - AP_SOUTHEAST_6
            - AP_SOUTHEAST_7
            - AP_SOUTH_1
            - AP_SOUTH_2
            - SA_EAST_1
            - CN_NORTH_1
            - CN_NORTHWEST_1
            - ME_SOUTH_1
            - ME_CENTRAL_1
            - AF_SOUTH_1
            - EU_SOUTH_1
            - EU_SOUTH_2
            - IL_CENTRAL_1
            - CA_WEST_1
            - MX_CENTRAL_1
            - GLOBAL
            title: AWS Regions
            type: string
          type: object
        status:
          description: State of the Encryption At Rest private endpoint.
          enum:
          - INITIATING
          - PENDING_ACCEPTANCE
          - ACTIVE
          - FAILED
          - PENDING_RECREATION
          - DELETING
          readOnly: true
          type: string
      title: Encryption At Rest Private Endpoint
      type: object
    PaginatedApiAtlasEARPrivateEndpointView:
      properties:
        links:
          description: List of one or more Uniform Resource Locators (URLs) that point to API sub-resources, related API resources, or both. RFC 5988 outlines these relationships.
          externalDocs:
            description: Web Linking Specification (RFC 5988)
            url: https://datatracker.ietf.org/doc/html/rfc5988
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          type: array
        results:
          description: List of returned documents that MongoDB Cloud provides when completing this request.
          items:
            $ref: '#/components/schemas/EARPrivateEndpoint'
          readOnly: true
          type: array
        totalCount:
          description: Total number of documents available. MongoDB Cloud omits this value if `includeCount` is set to `false`. The total number is an estimate and may not be exact.
          format: int32
          minimum: 0
          readOnly: true
          type: integer
      required:
      - results
      type: object
  responses:
    internalServerError:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 500
            errorCode: UNEXPECTED_ERROR
            reason: Internal Server Error
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Internal Server Error.
    forbidden:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 403
            errorCode: CANNOT_CHANGE_GROUP_NAME
            reason: Forbidden
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Forbidden.
    tooManyRequests:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 429
            errorCode: RATE_LIMITED
            reason: Too Many Requests
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Too Many Requests.
      headers:
        RateLimit-Limit:
          $ref: '#/components/headers/HeaderRateLimitLimit'
        RateLimit-Remaining:
          $ref: '#/components/headers/HeaderRateLimitRemaining'
        Retry-After:
          $ref: '#/components/headers/HeaderRetryAfter'
    unauthorized:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint)
            error: 401
            errorCode: NOT_ORG_GROUP_CREATOR
            reason: Unauthorized
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Unauthorized.
    conflict:
      content:
        application/json:
          example:
            detail: '(This is just an example, the exception may not be related to this endpoint) Cannot delete organization link while there is active migration in following project ids: 60c4fd418ebe251047c50554'
            error: 409
            errorCode: CANNOT_DELETE_ORG_ACTIVE_LIVE_MIGRATION_ATLAS_ORG_LINK
            reason: Conflict
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Conflict.
    badRequest:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint) No provider AWS exists.
            error: 400
            errorCode: VALIDATION_ERROR
            reason: Bad Request
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Bad Request.
    notFound:
      content:
        application/json:
          example:
            detail: (This is just an example, the exception may not be related to this endpoint) Cannot find resource AWS
            error: 404
            errorCode: RESOURCE_NOT_FOUND
            reason: Not Found
          schema:
            $ref: '#/components/schemas/ApiError'
      description: Not Found.
  parameters:
    envelope:
      description: Flag that indicates whether Application wraps the response in an `envelope` JSON object. Some API clients cannot access the HTTP response headers or status code. To remediate this, set envelope=true in the query. Endpoints that return a list of results use the results object as an envelope. Application adds the status parameter to the response body.
      in: query
      name: envelope
      schema:
        default: false
        type: boolean
    groupId:
      description: 'Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.


        **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.'
      in: path
      name: groupId
      required: true
      schema:
        example: 32b6e34b3d91647abb20e7b8
        pattern: ^([a-f0-9]{24})$
        type: string
    itemsPerPage:
      description: Number of items that the response returns per page.
      in: query
      name: itemsPerPage
      schema:
        default: 100
        maximum: 500
        minimum: 1
        type: integer
    pretty:
      description: Flag that indicates whether the response body should be in the prettyprint format.
      in: query
      name: pretty
      schema:
        default: false
        externalDocs:
          description: Prettyprint
          url: https://en.wikipedia.org/wiki/Prettyprint
        type: boolean
    pageNum:
      description: Number of the page that displays the current set of the total objects that the response returns.
      in: query
      name: pageNum
      schema:
        default: 1
        minimum: 1
        type: integer
    includeCount:
      description: Flag that indicates whether the response returns the total number of items (`totalCount`) in the response.
      in: query
      name: includeCount
      schema:
        default: true
        type: boolean
  headers:
    HeaderRetryAfter:
      description: The minimum time you should wait, in seconds, before retrying the API request. This header might be returned for 429 or 503 error responses.
      schema:
        type: integer
    HeaderRateLimitLimit:
      description: The maximum number of requests that a user can make within a specific time window.
      schema:
        type: integer
    HeaderRateLimitRemaining:
      description: The number of requests remaining in the current rate limit window before the limit is reached.
      schema:
        type: integer
  securitySchemes:
    DigestAuth:
      scheme: digest
      type: http
    ServiceAccounts:
      description: Learn more about [Service Accounts](https://www.mongodb.com/docs/atlas/api/service-accounts-overview).
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://cloud.mongodb.com/api/oauth/token
      type: oauth2
x-externalLinks:
- label: Back to Atlas Docs
  url: https://www.mongodb.com/docs/atlas/
- label: API Changelog
  url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/changelog/
x-topics:
- content: The MongoDB Atlas Administration API is rate limited. To learn more about rate limiting, see the [Atlas Documentation on Rate Limiting](http://dochub.mongodb.org/core/atlas-api-rate-limit)
  title: Rate Limiting
